<form [formGroup]="form_data_user" style="padding-left: 10%; padding-right: 10%; color: #757575"
  (ngSubmit)="editUser()"
>

    <div class="form-row">
      <div class="col-6">
        <!-- First name -->
        <div class="md-form">
          <input data-error="Nombre es requerido" [validateSuccess]="false" formControlName="nombre" type="text" id="nombre" class="form-control" mdbInputDirective>
          <label for="nombre">Nombre</label>
        </div>
      </div>
      <div class="col-6">
        <!-- Last name -->
        <div class="md-form">
          <input data-error="Apellido es requerido" [validateSuccess]="false" formControlName="apPaterno" type="text" id="apPaterno" class="form-control" mdbInputDirective>
          <label for="apPaterno">Apellido Paterno</label>
        </div>
      </div>
    </div>


    <div class="form-row">
      <div class="col-6">
        <!-- Last name -->
        <div class="md-form">
          <input data-error="Apellido es requerido" [validateSuccess]="false" formControlName="apMaterno" type="text" id="apMaterno" class="form-control" mdbInputDirective>
          <label for="apMaterno">Apellido Materno</label>
        </div>
      </div>

      <div class="col-6">
        <!-- Last name -->
        <div class="md-form">
          <mdb-date-picker  formControlName="fechaNacimiento" name="mydate"  placeholder="Fecha de nacimiento"
                           required></mdb-date-picker>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-6">
        <!-- First name -->
        <div class="md-form">
          <input data-error="Email es requerido" [validateSuccess]="false" formControlName="email" type="email" id="email" class="form-control" mdbInputDirective>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="col-6">
        <!-- Last name -->
        <div class="md-form">
          <input formControlName="telefono" type="tel" id="telefono" class="form-control" mdbInputDirective>
          <label for="telefono">Teléfono</label>
        </div>
      </div>
    </div>

    <!-- Sign up button -->
    <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
            type="submit" [disabled]="!(this.form_data_user.dirty && this.form_data_user.valid)">Editar</button>

</form>




<div mdbModal #success="mdbModal" class="modal fade" id="frameModalSecond" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Confirmación</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-check fa-4x animated rotateIn mb-4"></i>
        <p>Información editada satisfactoriamente</p>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <button  mdbBtn color="success" (click)="succes.hide()" class="waves-light" mdbWavesEffect>Aceptar</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
