<div mdbModal #login="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" (close)="resetForms()">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Modal cascading tabs-->
      <div class="modal-c-tabs">
        <!-- Tab panels -->
        <mdb-tabset #staticTabs [buttonClass]="'nav md-tabs tabs-2 orange darken-2'" [contentClass]="''" class="tab-content">
          <!--Panel 7-->
          <mdb-tab class="tab-pane fade in show active" id="panel7" role="tabpanel" heading="<i class='fa fa-user mr-1'></i> Login">
            <!--Body-->
            <div class="modal-body mb-1">
              <form [formGroup]="login_form" (ngSubmit)="setLogin()">
                <div class="md-form form-sm mt-5">
                  <i class="fa fa-envelope prefix"></i>
                  <input formControlName="email" data-error="Email Erroneo" [validateSuccess]="false" formControlName="email" mdbInputDirective type="text" id="form22" class="form-control" >
                  <label for="form22">Email</label>
                </div>

                <div class="md-form form-sm mt-5">
                  <i class="fa fa-lock prefix"></i>
                  <input formControlName="password" data-error="Ingresa tu contraseña" [validateSuccess]="false" mdbInputDirective type="password" id="form23" class="form-control" >
                  <label for="form23">Contraseña</label>
                </div>
                <span *ngIf="user_invalid" style="color:red">El usuario o email es incorrecto</span>
                <div class="text-center mt-4">
                  <input mdbBtn type="submit" color="orange" [disabled]="!login_form.valid" class="waves-light" mdbWavesEffect value="Iniciar Sesión">
                </div>
              </form>
            </div>
            <!--Footer-->
            <div class="modal-footer display-footer">
              <div class="options text-center text-md-right mt-1">
                <p>Olvide mi
                  <a href="#" class="orange-text">contraseña</a>
                </p>
              </div>
              <button type="button" mdbBtn color="orange"  class="ml-auto" data-dismiss="modal" (click)="login.hide()" mdbWavesEffect>Cancelar</button>
            </div>
          </mdb-tab>
          <!--/.Panel 7-->
          <!--Panel 8-->
          <mdb-tab class="tab-pane fade" id="panel8" role="tabpanel" heading="<i class='fa fa-user-plus mr-1'></i> Register">
            <!--Body-->
            <div class="modal-body">
              <form [formGroup]="signup_form" (ngSubmit)="setSignup()">
                <div class="md-form form-sm mt-5">
                  <i class="fa fa-user prefix"></i>
                  <input formControlName="nombre" data-error="Nombre es requerido" [validateSuccess]="false" mdbInputDirective type="text" id="form30" class="form-control" >
                  <label for="form30">Nombre</label>
                </div>
                <div class="md-form form-sm mt-5">
                  <i class="fa fa-user prefix"></i>
                  <input formControlName="apPaterno" data-error="Nombre es requerido" [validateSuccess]="false" mdbInputDirective type="text" id="form30" class="form-control" >
                  <label for="form30">Apellido Paterno</label>
                </div>
                <div class="md-form form-sm mt-5">
                  <i class="fa fa-user prefix"></i>
                  <input formControlName="apMaterno" data-error="Nombre es requerido" [validateSuccess]="false" mdbInputDirective type="text" id="form30" class="form-control" >
                  <label for="form30">Apellido Materno</label>
                </div>
                <div class="md-form form-sm mt-5">
                  <i class="fa fa-envelope prefix"></i>
                  <input formControlName="email" data-error="Ingresa un email válido" [validateSuccess]="false" mdbInputDirective type="text" id="form24" class="form-control" >
                  <label for="form24">Email</label>
                </div>
                <div class="md-form form-sm mt-5">
                  <i class="fa fa-lock prefix"></i>
                  <input formControlName="password" data-error="Tu password debe contener por lo menos 6 caracteres, letras y números" [validateSuccess]="false" mdbInputDirective type="password" id="form25" class="form-control" >
                  <label for="form25">Password</label>
                </div>
                <div class="md-form form-sm mt-5">
                  <i class="fa fa-lock prefix"></i>
                  <input formControlName="confirm_password" data-error="Las contraseñas no coinciden" [validateSuccess]="false" mdbInputDirective type="password" id="form26" class="form-control" >
                  <label for="form26">Confirma tu Contraseña</label>
                </div>
                <div class="text-center form-sm mt-5">
                  <input type="submit" [disabled]="!signup_form.valid"  value="Registrar" mdbBtn color="orange" class="waves-light" mdbWavesEffect>
                </div>

              </form>
            </div>
            <!--Footer-->
            <div class="modal-footer">
              <button type="button" mdbBtn color="orange"  class="ml-auto" data-dismiss="modal" (click)="login.hide()" mdbWavesEffect>Cancelar</button>
            </div>
          </mdb-tab>
          <!--/.Panel 8-->
        </mdb-tabset>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>





<div mdbModal #success_signup="mdbModal" class="modal fade" id="frameModalSecond" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" >
  <div class="modal-dialog modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">¡Gracias por tu registro!</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-check fa-4x animated rotateIn mb-4"></i>
        <p>Ahora puedes hacer recervaciones</p>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <button  mdbBtn color="success" (click)="success_signup.hide()" class="waves-light" mdbWavesEffect>Aceptar</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>





<div mdbModal #error_modal="mdbModal" class="modal fade" id="frameModalThird" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">¡Upsss!</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn mb-4 danger"></i>
        <p>No hemos podido procesa tu registro, itenta más tarde o asegurate que estas conectado a internet</p>
      </div>
      <!--Footer-->
      <div class="modal-footer flex-center">
        <button  mdbBtn color="danger" (click)="error_modal.hide()" class="waves-light" mdbWavesEffect>Aceptar</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>



<div mdbModal #success_login="mdbModal" class="modal fade" id="moda_login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">¡Bienvenido!</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-check fa-4x animated rotateIn mb-4"></i>
        <p>¡Comienza a reservar!</p>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <button  mdbBtn color="info" class="waves-light" (click)="success_login.hide()" mdbWavesEffect>Aceptar</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
