<div class="row" style="background-image: url(../../../../assets/img/hotelClaro2.jpg);
background-attachment: fixed; background-size: cover; height: 100%; margin-top: 70px">


  <div class="black-text" style="color:white;width: 100%; font-family: Comforta-Regular">

    <section class="my-5" style="margin-top: 150px">
    <div class="container">
      <!-- Section heading -->
      <h2 class="h1-responsive font-weight-bold text-center my-5">Explora</h2>
      <!-- Section description -->
      <p class=" text-center w-responsive mx-auto mb-5">Cancún tiene lo que buscas, relájate en la orilla del mar y disfruta de un día en la playa,
        explora el pasado maya o adéntrate en la selva para ir en busca de un cenote.</p>

      <!-- Grid row -->
      <div class="row align-items-center">

        <!-- Grid column -->
        <div class="col-lg-6 mb-lg-0 mb-5">
          <mdb-carousel class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
            <mdb-carousel-item>
              <img class="d-block w-100" src="../../../../assets/img/hotel9.jpg" alt="First slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block w-100" src="../../../../assets/img/hotel1.jpg" alt="Third slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block w-100" src="../../../../assets/img/hotel3.jpg" alt="Third slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block w-100" src="../../../../assets/img/hotel5.jpg" alt="Third slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block w-100" src="../../../../assets/img/hotel6.jpg" alt="Third slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block w-100" src="../../../../assets/img/hotel7.jpg" alt="Third slide">
            </mdb-carousel-item>
          </mdb-carousel>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-6">

          <!-- Grid row -->
          <div class="row mb-3">
            <div class="col-md-1 col-2">
              <i class="fa fa-ticket-alt fa-2x " style="color: #EE5935;"></i>
            </div>
            <div class="col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">Atracciones</h5>
              <p class="">Contamos con servicio de venta de boletos para la mayoría de las
                atracciones turísticas, ¿buscas algo en especial?, lo encontramos para ti.</p>
            </div>
          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row mb-3">
            <div class="col-md-1 col-2">
              <i class="fas fa-hamburger fa-2x"  style="color: #F17C3A;"></i>
            </div>
            <div class="col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">Comida</h5>
              <p class="">No necesitas salir de nuestras instalaciones para disfrutar de una deliciosa comida muy al estilo hogareño.
                El restaurante te ofrece desayunos, comidas y snacks de lunes a sábado.</p>
            </div>
          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row">
            <div class="col-md-1 col-2">
              <i class="fa fa-question fa-2x " style="color: #F5A641;"></i>
            </div>
            <div class="col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">¿Necesitas ayuda?</h5>
              <p class=" mb-0">Acércate con algún miembro del staff,
                estamos comprometidos con hacer tu experiencia inolvidable y apoyarte en lo que necesites.</p>
            </div>
          </div>
          <!-- Grid row -->

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->
    </div>

    </section>

  </div>

</div>
