<div style="margin-top: 50px;margin-bottom: 50px" *ngIf="isLoading" class="flex-center">
  <mdb-spinner spinnerColor="blue" spinnerType="big"></mdb-spinner>
</div>



<div *ngIf="!isLoading" class="user-main">
  <div class="row">
    <div class="col-11">
      <h3 class="name"><b>{{cliente.nombre}} {{cliente.apPaterno}} {{cliente.apMaterno}}</b></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <span>Registrado en: {{_utils.getFormatDate(cliente.createdAt)}}</span>
    </div>

    <div class="col-4">
      <span>Ultima modificación en: {{_utils.getFormatDate(cliente.updatedAt)}}</span>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <h5>Datos Personales</h5>
    </div>
  </div>


  <div class="row">

    <div class="col-4">
      <div class="md-form">
        <mdb-icon fas icon="envelope" class="prefix orange-text"></mdb-icon>
        <input [ngModel]="cliente.email" disabled="true" mdbInput type="text" id="email" class="form-control">
        <label for="email">Email</label>
      </div>
    </div>

    <div class="col-4">
      <div class="md-form">
        <mdb-icon fas icon="envelope" class="prefix orange-text"></mdb-icon>
        <input [ngModel]="cliente.telefono == null  ? 'Sin informar' : cliente.telefono" disabled="true" mdbInput type="text" id="telefono" class="form-control">
        <label for="telefono">Teléfono</label>
      </div>
    </div>

    <div class="col-4">
      <div class="md-form">
        <mdb-icon fas icon="envelope" class="prefix orange-text"></mdb-icon>
        <input [ngModel]="cliente.fechaNacimiento == null  ? 'Sin informar' : cliente.fechaNacimiento" mdbInput type="text" id="fechaNacimiento" class="form-control">
        <label for="fechaNacimiento">Fecha de Nacimiento</label>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h5>Dirección</h5>
    </div>
  </div>

  <div class="row">

    <div class="col-5">
      <div class="md-form">
        <mdb-icon fas icon="envelope" class="prefix orange-text"></mdb-icon>
        <input [ngModel]="cliente.calle == null  ? 'Sin informar' : cliente.calle" disabled="true" mdbInput type="text" id="calle" class="form-control">
        <label for="calle">Calle</label>
      </div>
    </div>

    <div class="col-2">
      <div class="md-form">
        <mdb-icon fas icon="envelope" class="prefix orange-text"></mdb-icon>
        <input [ngModel]="cliente.numero == null  ? 'S/I' : cliente.numero" disabled="true" mdbInput type="text" id="numero" class="form-control">
        <label for="numero">Numero</label>
      </div>
    </div>

    <div class="col-5">
      <div class="md-form">
        <mdb-icon fas icon="envelope" class="prefix orange-text"></mdb-icon>
        <input [ngModel]="cliente.fechaNacimiento == null  ? 'Sin informar' : cliente.fechaNacimiento" mdbInput type="text" id="fechaNacimiento" class="form-control">
        <label for="fechaNacimiento">Ciudad</label>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="col-4">
      <div class="md-form">
        <mdb-icon fas icon="envelope" class="prefix orange-text"></mdb-icon>
        <input [ngModel]="cliente.estado == null  ? 'Sin informar' : cliente.estado" disabled="true" mdbInput type="text" id="estado" class="form-control">
        <label for="estado">Estado</label>
      </div>
    </div>

    <div class="col-4">
      <div class="md-form">
        <mdb-icon fas icon="envelope" class="prefix orange-text"></mdb-icon>
        <input [ngModel]="cliente.codigoPostal == null  ? 'S/I' : cliente.codigoPostal" disabled="true" mdbInput type="text" id="codigoPostal" class="form-control">
        <label for="codigoPostal">Código Postal</label>
      </div>
    </div>

    <div class="col-4">
      <div class="md-form">
        <mdb-icon fas icon="envelope" class="prefix orange-text"></mdb-icon>
        <input [ngModel]="cliente.pais == null  ? 'Sin informar' : cliente.pais" mdbInput type="text" id="pais" class="form-control">
        <label for="pais">País</label>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col">
      <h5>Registro de reservaciones</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table mdbTable>
        <thead>
        <tr>
          <th>Sección en construcción</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
