 <div class="row sunny-morning-gradient" style="color: white; font-family: ModernSans" >

    <section class="text-center pb-3" style="width: 100%">
      <div class="container">

        <!--Section heading-->
        <h2 class="font-weight-bold h1 py-5">
          <strong>Reservaciones</strong>
        </h2>
        <!--Section description-->
        <p class=" pb-5 text-center">Reserva una habitación para tu familia o si vienes solo y quieres ahorrar, revisa si tenemos habitaciones para compartir </p>

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-12 mb-4">
            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2832%29.jpg);">
              <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                <div>
                  <h6 class="orange-text">
                    <i class="fa fa-plane"></i>
                  </h6>
                  <h3 class="py-3 font-weight-bold">
                    <strong>Habitación Completa</strong>
                  </h3>
                  <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                    optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                    Odit sed qui, dolorum!
                  </p>
                  <a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                    <i class="fa fa-bed left"></i> Reservar</a>
                </div>
              </div>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6 mb-4">
            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20%2873%29.jpg);">
              <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                <div>
                  <h6 class="orange-text">
                    <i class="fa fa-eye"></i>
                  </h6>
                  <h3 class="py-3 font-weight-bold">
                    <strong>Habitación Compartida</strong>
                  </h3>
                  <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                    optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                    Odit sed qui, dolorum!
                  </p>
                  <a mdbBtn color="pink" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                    <i class="fa fa-bed left"></i> Reservar</a>
                </div>
              </div>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-6 mb-4 col-md-10 offset-md-1 col-sm-10 offset-sm-1 ">
            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20%2847%29.jpg);">
              <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                <div>
                  <h6 class="orange-text">
                    <i class="fa fa-eye"></i>
                  </h6>
                  <h3 class="py-3 font-weight-bold">
                    <strong>Habitación Mixta</strong>
                  </h3>
                  <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                    optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                    Odit sed qui, dolorum!
                  </p>
                  <a mdbBtn color="success" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                    <i class="fa fa-bed left"></i>Reservar</a>
                </div>
              </div>
            </div>
          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </div>
    </section>

  </div>
