<div class="row" style="background-image: url(../../../../assets/img/hotelClaro3.png); background-size: cover; height:100%; font-family: Comforta-Regular;" >
  <div class="container"  >

  <section class="pb-5"  style="margin-top:100px">

    <!--Section heading-->
    <h2 class="h1 pt-4">Dejanos un mensaje</h2>
    <!--Section description-->
    <p class="pb-4">Quieres más información o necesitas un servicio en especial,
      mándanos un mensaje y nos pondremos en contacto contigo inmediatamente</p>

    <div class="row">

      <!--Grid column-->
      <div class="col-lg-5 my-4">

        <!--Form with header-->
        <mdb-card>

          <mdb-card-header class="peach-gradient white-text text-center py-4">
            <h5>
              <strong>Contactanos</strong>
            </h5>
          </mdb-card-header>

          <mdb-card-body class="px-lg-5 pt-0">

            <form class="text-center" style="color: #757575; font-family: Comforta-Regular" [formGroup]="contactoForm" (ngSubmit)="enviarRespuesta()">

              <div class="md-form mt-3">
                <input type="text" formControlName="nombre" id="contactForName" class="form-control"
                       mdbInputDirective>
                <label for="contactForName">Nombre</label>
              </div>

              <div class="md-form">
                <input type="email" formControlName="email" id="contactForEmail" class="form-control"
                       mdbInputDirective>
                <label for="contactForEmail">Email</label>
              </div>

              <div class="md-form">
                <input type="email" formControlName="telefono" id="contactForPhone" class="form-control"
                       mdbInputDirective>
                <label for="contactForPhone">Telefono</label>
              </div>

              <div class="md-form">
        <textarea type="text" formControlName="mensaje" id="materialContactFormMessage" class="form-control md-textarea"
                  mdbInputDirective></textarea>
                <label for="materialContactFormMessage">Mensaje</label>
              </div>

              <!--<div class="row">-->
                <!--<div class="col-md-6 mx-auto d-flex justify-content-center">-->
                  <!--<mdb-checkbox formControlName="contactFormCopy">Quiero suscribirme al </mdb-checkbox>-->
                <!--</div>-->
              <!--</div>-->

              <button mdbBtn rounded="true" block="true" class="z-depth-0 my-4 waves-effect orange"
                      mdbWavesEffect type="submit" [disabled]="!contactoForm.valid">Enviar</button>

            </form>

          </mdb-card-body>

        </mdb-card>
        <!--Form with header-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-7 mt-4">

        <!--Google map-->
        <agm-map class="z-depth-1-half map-container" style="height: 400px; margin-left: 7%" [latitude]="map.lat" [longitude]="map.lng">
          <agm-marker [latitude]="map.lat" [longitude]="map.lng"></agm-marker>
        </agm-map>

        <br>
        <!--Buttons-->
        <div class="row text-center">
          <div class="col-md-4">
              <i class="fa fa-map-marker"></i>
            <br>Av. Tulum 75
            <br>Benito Juarez
            <br>77500 Cancún, Q.R. México
          </div>

          <div class="col-md-4">

              <i class="fa fa-phone"></i>

            <p>(+52) 998 884 2999</p>
          </div>

          <div class="col-md-4">

              <i class="fa   fa-envelope" size="lg"></i>

            <p>contacto@mangohostel.com.mx</p>
          </div>
        </div>

      </div>
      <!--Grid column-->

    </div>

  </section>
  <!--Section: Contact v.1-->


  </div>
</div>



<div mdbModal style="font-family: Comforta-Regular" #success_message="mdbModal" class="modal fade" id="moda_login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">¡Gracias por tu mensaje!</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-check fa-4x animated rotateIn mb-4"></i>
        <p>Te contestaremos de inmediato</p>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <button  mdbBtn color="orange" class="waves-light" (click)="success_message.hide()" mdbWavesEffect>Aceptar</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
