
<div class="container " style="margin-top:200px; margin-bottom: 150px">
  <div class="row ">
    <div class="col-12">
      <h1>Tu reservación ha sido completada con éxtio</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h4>Te hemos enviado un correo con los datos de la reservación</h4>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-lg-3">
      <a block="true" mdbBtn color="orange" (click)="gotoReservaciones()" mdbWavesEffect>Ir reservaciones</a>
    </div>

    <div class="col-lg-1">
    </div>

    <div class="col-lg-3 ">
      <a block="true" mdbBtn color="orange" (click)="gotoInicio()" mdbWavesEffect>Aceptar</a>
    </div>

  </div>
</div>

