
<mdb-navbar SideClass="navbar navbar-expand-lg  navbar-dark orange scrolling-navbar fixed-top">

  <mdb-navbar-brand class="mt-2 mr-5">
    <a class="navbar-brand" style="color:white; margin-top: -13px">
      <img src="../../../assets/icon/logo-negro.svg" height="40" class="d-inline-block " alt="">
    </a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav ml-auto" style="font-family: Comforta-Regular">
      <li class="nav-item mr-3" routerLinkActive="active-menu">
        <a class="nav-link waves-light"  [routerLink]="['inicio']"  mdbWavesEffect>Inicio</a>
      </li>
      <li class="nav-item mr-3 " routerLinkActive="active-menu">
        <a class="nav-link waves-light" [routerLink]="['nosotros']"  mdbWavesEffect>Explora</a>
      </li>
      <li class="nav-item mr-3" routerLinkActive="active-menu">
        <a class="nav-link waves-light"  [routerLink]="['contacto']" mdbWavesEffect>Contacto</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">

      <li class="nav-item " *ngIf="!isValidToken()">
        <a (click)="login_modal.login_modal.show()" class="white-text "> <mdb-icon style="margin-right: 10px;" fas icon="user"></mdb-icon><u>Ingresar</u></a>
      </li>

      <li class="nav-item mt-3 mr-4" *ngIf="isValidToken()">
        <a style="color:white; font-family: 'Open Sans'">Hola {{_authService.getUserName()}}</a>
      </li>


      <li  class="nav-item avatar mt-2"  *ngIf="isValidToken()">

        <div class="dropdown" mdbDropdown>
          <a mdbDropdownToggle class=" dropdown-toggle waves-effect waves-light"><img style="height: 45px" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg" alt="avatar mx-auto white" class="rounded-circle img-fluid">
          </a>

          <div class="dropdown-menu dropdown-primary">
            <a class="dropdown-item" (click)="gotoPerfil()"> Perfil</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">Salir</a>
          </div>
        </div>


      </li>
    </ul>
  </links>

</mdb-navbar>


<mdb-card style="margin-top: 70px;" *ngIf="!_reservacionService.is_on_reservarion">
  <mdb-card-body class="container">
    <div class="row align-items-center">

      <div class="col-lg-3 col-md-12 col-sm-12 ">
        <mdb-select [formControl]="idhotel" class="align-middle"   [options]="hotel_select" placeholder="Selecciona tu hotel" label="Hotel"></mdb-select>
      </div>


      <div class="col-lg-2 col-md-12 col-sm-12 " >
        <mdb-date-picker [formControl]="checkin" style="z-index: 100000" label="Fecha de llegada" [options]="date_options" placeholder="Selecciona la fecha" ></mdb-date-picker>
      </div>

      <div class="col-lg-2 col-md-12 col-sm-12 " >
        <mdb-date-picker [formControl]="checkout" style="z-index: 100000" label="Fecha de Salida" [options]="date_options" placeholder="Selecciona la fecha" ></mdb-date-picker>
      </div>

      <div class="col-lg-2 col-md-12 col-sm-12 ">
        <mdb-select placement="bottom"  (hidden)="onClosePopHabs()"  [formControl]="num_hab" class="align-middle"  (opened)="openHabsSelect()"  triggers="click" [mdbPopover]="smallClickImgTemp" [options]="habs_aux" placeholder="Habitaciones"  label="Hotel"></mdb-select>
      </div>
      <ng-template  #smallClickImgTemp>
        <div class="row align-items-center" style="width: 250px">
          <div class="col-6 text-center">
            Habitaciones
          </div>
          <div class="col-lg-6  mt-4 mb-4 ">
            <select class="browser-default custom-select" [formControl]="number_habs_selected" (change)="showNumberHabs(number_habs_selected.value)">
              <option [value]="number.value"  *ngFor="let number of number_people; let i=index">{{number.label}}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-2 text-center">
            N
          </div>
          <div class="col-5 text-center">
            Adultos
          </div>
          <div class="col-5 text-center">
            Niños
          </div>
        </div>

        <form [formGroup]="array_controls_habs.controls[i]" class="row mt-3 align-items-center"  *ngFor="let hab of number_habs; let i=index">
          <div class="col-2">
            {{hab+1}}
          </div>
          <div  class="col-5">
            <select formControlName="adultos" class="browser-default custom-select">
              <option [value]="num.value" *ngFor="let num of number_people">{{num.label}}</option>
            </select>
          </div>
          <div class="col-5">
            <select formControlName="ninos" class="browser-default custom-select">
              <option [value]="num.value" *ngFor="let num of number_people">{{num.label}}</option>
            </select>
          </div>
        </form>
      </ng-template>

      <button class="col-lg-2" mdbBtn type="button" color="primary" mdbWavesEffect (click)="gotoReservar()">Buscar
      </button>

    </div>
  </mdb-card-body>
</mdb-card>








<router-outlet style="overflow-x:hidden;margin-bottom:150px" ></router-outlet>

  <footer class="page-footer font-small sunny-morning-gradient pt-4" style="font-family: Comforta-Regular">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mx-auto">

          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Stay Mango</h5>
          <p>Arqutectura maya sin igual en el centro de Cancún. Disfruta de nuestros espacios de descanso,
            así como de las zonas para divertirte y de la deliciosa comida en el restaurante.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Airbnb</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!--<hr>-->

    <!-- Call to action -->
    <!--<ul class="list-unstyled list-inline text-center py-2">-->
      <!--<li class="list-inline-item">-->
        <!--<h5 class="mb-1">Registrate ahora</h5>-->
      <!--</li>-->
      <!--<li class="list-inline-item">-->
        <!--<a href="#!" mdbBtn color="danger" rounded="true" mdbWavesEffect>Inicia Sesión</a>-->
      <!--</li>-->
    <!--</ul>-->
    <!-- Call to action -->

    <!--<hr>-->

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1" mdbWavesEffect>
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-ins mx-1 orange" mdbWavesEffect>
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a >Mango Hostel </a>
    </div>
    <!-- Copyright -->

  </footer>



  <!-- Modal para iniciar sesión y registrarse
       Variable ligada #login
  -->




<login #login_modal ></login>






