.item-nav{
  margin-left:8%;
  font-size: 18px;
}

.active-menu{
  border-radius: 40px !important;
  background-color: black;
}



.intro-header {
  height: unset !important;
}

.carousel-caption h1 {
  color:white;
  font-size: 5em
}


.carousel-caption p {
  color:white;
  font-size: 1.5em
}


.card{
  border-radius: 10px !important;
}


.intro-header {

}

carousel-caption{
  font-family: ModernSans;
}


.descripcion-breve{
  font-family: ModernSans;
  color:white;
  font-size: 30px;
}


.view {
  height: 75vh !important;
}

.modulo-reserva{
  height: 35vh !important;
  background-color: cornflowerblue;
}



h5 {
  letter-spacing: 3px;
}


@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 700px;
  }
}

.form-elegant .font-small {
  font-size: 0.8rem; }

.form-elegant .z-depth-1a {
  -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
  box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
  box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

.form-elegant .modal-header {
  border-bottom: none; }

.modal-dialog .form-elegant .btn .fa {
  color: #2196f3!important; }

.form-elegant .modal-body, .form-elegant .modal-footer {
  font-weight: 400; }


h5 {
  letter-spacing: 3px;
}


.intro-header {
  height: unset !important;
}
.intro-2 {
  background: url("https://mdbootstrap.com/img/Photos/Others/architecture.jpg")no-repeat center center;
  background-size: cover;
}

.btn .fa {
  margin-left: 3px;
}
.top-nav-collapse {
  background-color: white !important;
}
.navbar:not(.top-nav-collapse) {
  background: white !important;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: white !important;
  }
}
h6 {
  line-height: 1.7;
}
.rgba-gradient .full-bg-img {
  background: linear-gradient(45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
}
@media (max-width: 450px) {
  .margins {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}






