<div class="card card-cascade narrower">

  <!--Card image-->
  <div class="view view-cascade gradient-card-header orange darken-2 narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

    <div>
      <button (click)="table_view=false" type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
        <mdb-icon fas icon="th-large" class="mt-0"></mdb-icon>
      </button>
      <button (click)="table_view=true" type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
        <mdb-icon fas icon="columns" class="mt-0"></mdb-icon>
      </button>
    </div>

    <a href="" class="white-text mx-3">Usuarios Registrados</a>

    <div >
      <button (click)="openEditUserSection()" type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
        <i class="fa fa-pencil mt-0"></i>
      </button>
      <button (click)="confirmDeletedUsers()" type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
        <mdb-icon fas icon="remove" class="mt-0"></mdb-icon>
      </button>
      <button (click)="openMoreInformation()" type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
        <mdb-icon fas icon="info-circle" class="mt-0"></mdb-icon>
      </button>
    </div>


  </div>

  <!--/Card image-->

  <div class="px-4">
      <div style="margin-top: 50px;margin-bottom: 50px" *ngIf="load_table" class="flex-center">
          <mdb-spinner spinnerColor="blue" spinnerType="big"></mdb-spinner>
      </div>
    <div class="row"  *ngIf="!load_table && !table_view" style="overflow-y:auto;max-height: 650px">
      <div class="col-md-3" *ngFor="let cliente of clientes" style="margin-bottom: 20px " (click)="selectUser(cliente)">

        <mdb-card class="testimonial-card" [ngClass]="{'selected-v2':cliente._id==selected_user._id}" style="cursor: pointer">
          <!--Bacground color-->
          <div style="height: 80px" class="card-up orange lighten-1">
          </div>

          <!--Avatar-->
          <div class="avatar mx-auto" (click)="selectUser(cliente)">
            <img *ngIf="cliente.img != null" [src]="servidor + cliente.img" class="rounded-circle">
            <img *ngIf="cliente.img == null" src="../../../../../assets/img/user-default.png" class="rounded-circle">
          </div>

          <mdb-card-body>
            <!--Name-->
            <mdb-card-title>
              <h4>{{cliente.nombre}}</h4>
            </mdb-card-title>

            <!--Quotation-->
            <p>{{cliente.email}}</p>
          </mdb-card-body>
        </mdb-card>

      </div>
      <!--Grid column-->
    </div>


    <div class="table-wrapper" *ngIf="!load_table && table_view" style="overflow-y:auto;max-height: 650px">
      <!--Table-->
      <table  class="table table-hover mb-0">

        <!--Table head-->
        <thead>
        <tr>
          <th>
            <mdb-checkbox (change)="clientes=_utilerias.checkAllItems(clientes,$event.checked)"></mdb-checkbox>
          </th>
          <th class="th-lg">
            <a (click)="sorted=_utilerias.sortBy('nombre',clientes,sorted).sorted;
                        clientes=_utilerias.sortBy('nombre',clientes,sorted).clientes"
            >Nombre
              <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
            </a>
          </th>
          <th class="th-lg">
            <a (click)="sorted=_utilerias.sortBy('apPaterno',clientes,sorted).sorted;
                        clientes=_utilerias.sortBy('apPaterno',clientes,sorted).clientes"
            >Apellido Paterno
              <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
            </a>
          </th>

          <th class="th-lg">
            <a (click)="sorted=_utilerias.sortBy('apMaterno',clientes,sorted).sorted;
                        clientes=_utilerias.sortBy('apMaterno',clientes,sorted).clientes"
            >Apellido Materno
              <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
            </a>
          </th>
          <th class="th-lg">
            <a (click)="sorted=_utilerias.sortBy('email',clientes,sorted).sorted;
               clientes=_utilerias.sortBy('email',clientes,sorted).clientes"
            >Email
              <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
            </a>
          </th>
        </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody >
        <tr *ngFor="let row of clientes;let i = index"
        [ngClass]="{'selected':row._id==selected_user._id}"
        >
          <th scope="row">
            <mdb-checkbox [checked]="row.check" (change)="toggleCheckUser($event,i)"></mdb-checkbox>
          </th>
          <td (click)="selectUser(row)" >{{row.nombre}}</td>
          <td (click)="selectUser(row)">{{row.apPaterno}}</td>
          <td (click)="selectUser(row)">{{row.apMaterno}}</td>
          <td (click)="selectUser(row)">{{row.email}}</td>
        </tr>
        </tbody>
        <!--Table body-->
      </table>
      <!--Table-->
    </div>
  </div>
</div>



<div mdbModal #edit_modal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
     [config]='{backdrop: false, ignoreBackdropClick: true}'   aria-hidden="true">
  <div class="modal-dialog modal-full-height modal-right" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="edit_modal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Editar Usuario</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6 offset-3 mt-2 mb-4">
            <div class="avatar mx-auto">
              <img *ngIf="selected_user.img != null" [src]="servidor + selected_user.img" class="rounded-circle img-fluid">
              <img *ngIf="selected_user.img == null" src="../../../../../assets/img/user-default.png" class="img-fluid rounded-circle">
            </div>
          </div>
        </div>
          <form [formGroup]="edit_user_form" class="pl-4 pr-4">
            <div class="row">
              <div class="col-12">
                <div class="md-form">
                  <input data-error="Se requiere el nombbre" [validateSuccess]="false" type="text" formControlName="nombre" id="edit_name" class="form-control" mdbInputDirective>
                  <label for="edit_name">Nombre</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="md-form">
                  <input data-error="Se requiere el apellido" [validateSuccess]="false" type="text" formControlName="apPaterno" id="edit_apat" class="form-control" mdbInputDirective>
                  <label for="edit_name">Apellido Paterno</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="md-form">
                  <input data-error="Se requiere el apellido" [validateSuccess]="false" type="text" formControlName="apMaterno" id="edit_amat" class="form-control" mdbInputDirective>
                  <label for="edit_name">Apellido Materno</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="md-form">
                  <input type="email" formControlName="email" [validateSuccess]="false" data-error="Email inválido" id="edit_email" class="form-control" mdbInputDirective>
                  <label for="edit_email">Email</label>
                </div>
              </div>
            </div>
          </form>


<!--          <div class="form-group">
            <input mdbInputDirective type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            <label for="inputAddress2">Address 2</label>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <input mdbInputDirective type="text" class="form-control" id="inputCity" placeholder="New York City">
              <label for="inputCity">City</label>
            </div>
            <div class="form-group col-md-6">
              <input mdbInputDirective type="text" class="form-control" id="inputZip" placeholder="11206-1117">
              <label for="inputZip">Zip</label>
            </div>
          </div>-->
      </div>
      <div class="modal-footer">
        <a [block]="true"  mdbBtn color="primary" class="waves-light mt-2" mdbWavesEffect (click)="editUser()">Guardar</a>
        <a [block]="true"  type="button" mdbBtn color="primary" class="waves-light" (click)="edit_modal.hide()" mdbWavesEffect data-dismiss="modal">Cancelar</a>
      </div>
    </div>
  </div>
</div >



<div mdbModal #success="mdbModal" class="modal fade" id="frameModalSecond" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Confirmación</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-check fa-4x animated rotateIn mb-4"></i>
        <p>Has editado a el cliente "{{edit_user_form.get('nombre').value}}" exitosamente</p>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <button  mdbBtn color="success" (click)="success_modal.hide()" class="waves-light" mdbWavesEffect>Aceptar</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>


<div mdbModal #danger="mdbModal" class="modal fade" id="frameModalThird" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">¡Upsss!</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn mb-4 danger"></i>
        <p>No hemos podido procesa tu petición, itenta más tarde o asegurate que estas conectado a internet</p>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <button  mdbBtn color="danger" class="waves-light" (click)="danger.hide()" mdbWavesEffect>Aceptar</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>


<modal-delete-array #moda_delte_array
                    [notDeletedArray]="array_not_deleted"
                    [deletedArray]="array_deleted"
                    (close)="initSelected()"
                    itemType="clientes">
</modal-delete-array>

<sure-delete #modal_sure_delete
             [arrayDelete]="array_selected"
             (acceptDelete)="deleteUser(array_selected)"
             itemTypeSingular="cliente"
             itemTypePlural="clientes">
</sure-delete>
