<div class="card card-cascade narrower">

  <!--Card image-->
  <div class="view view-cascade gradient-card-header orange darken-2 narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

    <div>
    </div>

    <a href="" class="white-text mx-3">Hoteles</a>

    <div>
      <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" (click)="openEditAdminModal()">
        <i class="fa fa-pencil mt-0"></i>
      </button>
      <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" (click)="confirmHotelDelete()">
        <mdb-icon fas icon="remove" class="mt-0"></mdb-icon>
      </button>
      <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" (click)="openNewHotelModal()">
        <mdb-icon fas icon="plus" class="mt-0"></mdb-icon>
      </button>
    </div>

  </div>
  <!--/Card image-->

  <div class="px-4">

    <div class="table-wrapper">
      <!--Table-->
      <table class="table table-hover mb-0">

        <!--Table head-->
        <thead>
        <tr>
          <th>
            <mdb-checkbox (change)="hoteles=_utilerias.checkAllItems(hoteles,$event.checked)"></mdb-checkbox>
          </th>
          <th class="th-lg">
            <a (click)="sorted=_utilerias.sortBy('nombre',hoteles,sorted).sorted;
                        hoteles=_utilerias.sortBy('nombre',hoteles,sorted).usuarios">Nombre
              <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
            </a>
          </th>
          <th class="th-lg">
            <a (click)="sorted=_utilerias.sortBy('nombre',hoteles,sorted).sorted;
                        hoteles=_utilerias.sortBy('nombre',hoteles,sorted).usuarios">Dirección
              <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
            </a>
          </th>
          <th class="th-lg">
            <a (click)="sorted=_utilerias.sortBy('nombre',hoteles,sorted).sorted;
                        hoteles=_utilerias.sortBy('nombre',hoteles,sorted).usuarios">Tipo
              <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
            </a>
          </th>
        </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody>
        <tr *ngFor="let row of hoteles;let i = index"
            [ngClass]="{'selected':row._id==selected_hotel._id}">
          <th scope="row">
            <mdb-checkbox [checked]="row.check" (change)="toggleCheckHotel($event,i)"> </mdb-checkbox>
          </th>
          <td (click)="selectHotel(row)">{{row.nombre}}</td>
          <td (click)="selectHotel(row)">{{row.direccion}}</td>
          <td (click)="selectHotel(row)">{{row.tipo}}</td>

        </tr>
        </tbody>
        <!--Table body-->
      </table>
      <!--Table-->
    </div>
  </div>
</div>




<div mdbModal #success="mdbModal" class="modal fade" id="frameModalSecond" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Confirmación</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-check fa-4x animated rotateIn mb-4"></i>
        <p *ngIf="modal_flag_success=='editar'">Has editado el hotel "{{data_form.get('nombre').value}}" exitosamente</p>
        <p *ngIf="modal_flag_success=='nuevo'">Hotel "{{data_form.get('nombre').value}}" agregado exitosamente</p>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <button  mdbBtn color="success" (click)="success.hide()" class="waves-light" mdbWavesEffect>Aceptar</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>


<div mdbModal #danger="mdbModal" class="modal fade" id="frameModalThird" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">¡Upsss!</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn mb-4 danger"></i>
        <p>No hemos podido procesa tu petición, intenta más tarde o asegurate que estas conectado a internet</p>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <button  mdbBtn color="danger" class="waves-light" (click)="danger.hide()" mdbWavesEffect>Aceptar</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>



<div mdbModal #data_modal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
     [config]='{backdrop: false, ignoreBackdropClick: true}'   aria-hidden="true">
  <div class="modal-dialog modal-full-height modal-right" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="data_modal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="titleLabelEdit" *ngIf="data_modal_flag=='editar'">Editar Hotel</h4>
        <h4 class="modal-title w-100" id="titleLabelNew" *ngIf="data_modal_flag=='nuevo'">Agregar Hotel</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6 offset-3 mt-2 mb-4">
            <div class="avatar mx-auto white"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg"
                                                   alt="avatar mx-auto white" class="rounded-circle img-fluid">
            </div>
          </div>
        </div>
        <form [formGroup]="data_form" class="pl-4 pr-4">
          <div class="row">
            <div class="col-12">
              <div class="md-form">
                <input data-error="Se requiere el nombbre" [validateSuccess]="false" type="text" formControlName="nombre" id="edit_name" class="form-control" mdbInputDirective>
                <label for="edit_name">Nombre</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="md-form">
                <input type="text" [validateSuccess]="false" data-error="Se requiere la dirección" formControlName="direccion" id="direccion" class="form-control" mdbInputDirective>
                <label for="direccion">Dirección</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="md-form">
                <input type="text" [validateSuccess]="false" data-error="Se requiere el tipo" formControlName="tipo" id="tipo" class="form-control" mdbInputDirective>
                <label for="tipo">Tipo</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="md-form">
                <input type="text" [validateSuccess]="false" data-error="Se requieren las políticas" formControlName="politicas_ninios" id="politicas" class="form-control" mdbInputDirective>
                <label for="politicas">Políticas para niños</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="md-form">
                <input type="number" [validateSuccess]="false" data-error="Se requiere la edad" formControlName="max_age_children" id="max_age" class="form-control" mdbInputDirective>
                <label for="max_age">Edad máxima para niños</label>
              </div>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <a [block]="true" *ngIf="data_modal_flag=='nuevo'"  mdbBtn color="primary" class="waves-light mt-2" mdbWavesEffect (click)="addHotel()">Guardar</a>
        <a [block]="true" *ngIf="data_modal_flag=='editar'"  mdbBtn color="primary" class="waves-light mt-2" mdbWavesEffect (click)="editHotel()">Guardar Cambios</a>
        <a [block]="true"  type="button" mdbBtn color="primary" class="waves-light" (click)="data_modal.hide()" mdbWavesEffect data-dismiss="modal">Cancelar</a>
      </div>
    </div>
  </div>
</div >


<sure-delete #modal_sure_delete
             [arrayDelete]="array_selected"
             (acceptDelete)="deleteHotel(array_selected)"
             itemTypeSingular="hotel"
             itemTypePlural="hoteles">
</sure-delete>


<modal-delete-array #modal_delete_array
                    [notDeletedArray]="array_not_deleted"
                    [deletedArray]="array_deleted"
                    (close)="array_selected=[]"
                    itemType="hoteles">
</modal-delete-array>


