<div class="card card-cascade narrower">

  <!--Card image-->
  <div class="view view-cascade gradient-card-header orange darken-2 narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

    <div>
    </div>

    <a href="" class="white-text mx-3">Reservaciones</a>

    <div>
    </div>

  </div>
  <!--/Card image-->

  <div class="px-4">

    <div class="table-wrapper">
      <!--Table-->
      <table class="table table-hover mb-0">

        <!--Table head-->
        <thead>
        <tr>
          <th>
            <mdb-checkbox (change)="reservaciones=_utilerias.checkAllItems(reservaciones,$event.checked)"></mdb-checkbox>
          </th>
          <th class="th-lg">
            <a (click)="sorted=_utilerias.sortBy('idhotel',reservaciones,sorted).sorted;
                        reservaciones=_utilerias.sortBy('nombre',reservaciones,sorted).usuarios">Hotel
              <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
            </a>
          </th>
          <th class="th-lg">
            <a (click)="sorted=_utilerias.sortBy('idusuario',reservaciones,sorted).sorted;
                        reservaciones=_utilerias.sortBy('idusuario',reservaciones,sorted).usuarios">Cliente
              <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
            </a>
          </th>
          <th class="th-lg">
            <a (click)="sorted=_utilerias.sortBy('checkin',reservaciones,sorted).sorted;
                        reservaciones=_utilerias.sortBy('checkin',reservaciones,sorted).usuarios">Checkin
              <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
            </a>
          </th>
          <th class="th-lg">
            <a (click)="sorted=_utilerias.sortBy('checkout',reservaciones,sorted).sorted;
                        reservaciones=_utilerias.sortBy('checkout',reservaciones,sorted).usuarios">Checkout
              <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
            </a>
          </th>
        </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody>
        <tr *ngFor="let row of reservaciones;let i = index"
            [ngClass]="{'selected':row._id==selected_reservacion._id}">
          <th scope="row">
            <mdb-checkbox [checked]="row.check" (change)="toggleCheckReservacion($event,i)"> </mdb-checkbox>
          </th>
          <td (click)="selectReservacion(row)">{{getHotelName(row.idhotel)}}</td>
          <td (click)="selectReservacion(row)">{{getUserName(row.idusuario)}}</td>
          <td (click)="selectReservacion(row)">{{_utilerias.getFormatDate(row.checkin)}}</td>
          <td (click)="selectReservacion(row)">{{_utilerias.getFormatDate(row.checkout)}}</td>
        </tr>
        </tbody>
        <!--Table body-->
      </table>
      <!--Table-->
    </div>
  </div>
</div>
