
<div class="row align align-items-center " style="margin-top: 70px;">
  <div class="col-3 offset-1"  >
    <mdb-card cascade="true" narrower="true" style="margin-top:15%; margin-bottom: 15%;">

      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

      <mdb-card-body cascade="true" class="text-center">
        <!--Card content-->
        <div class="row">
          <div class="col-12">
            <input hidden="true" accept="image/*"  mdbBtn type="file" color="deep-orange" mdbWavesEffect #file (change)="onSelectFile($event)">
            <button mdbBtn type="button" rounded="true" color="deep-orange" (click)="openModalImageUpload()" mdbWavesEffect>Cambiar imagen</button>
          </div>
        </div>

        <h5 style="margin-top: 20px; margin-bottom: 20px;" class="pink-text">
          <i class="fas fa-utensils"></i>{{usuario.nombre}} {{usuario.apPaterno}} {{usuario.apMaterno}}</h5>
        <!--Title-->
        <!--Text-->

        <div class="list-group">
          <a [routerLink]="['editar']" routerLinkActive="active" class="list-group-item  list-group-item-action waves-light" mdbWavesEffect>Editar Perfil</a>
          <a [routerLink]="['notificaciones']" routerLinkActive="active" class="disabled list-group-item list-group-item-action waves-light" mdbWavesEffect>Notificaciones</a>
          <a [routerLink]="['reservaciones']" routerLinkActive="active" class=" list-group-item list-group-item-action waves-light" mdbWavesEffect>Mis reservaciones</a>
        </div>

      </mdb-card-body>
      <!--/.Card content-->

    </mdb-card>
  </div>
  <div class="col-8" >
    <router-outlet ></router-outlet>
  </div>
</div>


<div mdbModal #imagenUploadModal="mdbModal" class="modal fade" id="frameModalSecond" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Subir imagen</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="row">
          <div class="col align-middle">
            <!--<angular-file-uploader-->
              <!--[config]="uploadImageConfig"-->
              <!--(ApiResponse)="imageUploaded($event)">-->
            <!--</angular-file-uploader>-->
            <input type="file" name="img" ng2FileSelect [uploader]="uploader" />
            <button type="button" class="btn btn-success" (click)="uploader.uploadAll()"
              [disabled]="!uploader.getNotUploadedItems().length">
              Subir
            </button>
          </div>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <button  mdbBtn color="info" (click)="imagenUploadModal.hide()" class="waves-light" mdbWavesEffect>Aceptar</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
