<!--<nb-layout>-->
  <!--<nb-layout-column>-->
    <!--<nb-card style="height: 100%">-->
      <!--<nb-card-header class="text-center">Login</nb-card-header>-->
      <!--<nb-card-body>-->
        <!--<nb-tabset fullWidth>-->
          <!--<nb-tab class="col-12" tabTitle="Administrador">-->



            <!--<form action="" class="col-4 offset-4" style="margin-top: 5%" [formGroup]="admin_form" (ngSubmit)="loginAdmin()">-->
              <!--<div class="row justify-content-center">-->
                  <!--<img src="../../../../assets/icon/boss.svg" style="border-radius: 50%;width: 150px; height: 150px" alt="">-->
              <!--</div>-->

                <!--<div class="input-group-lader">-->
                  <!--<div class="row">-->
                    <!--<label class="col mt-2 form-control-label" style="font-size: 20px">Usuario</label>-->
                  <!--</div>-->
                  <!--<div class="row">-->
                    <!--<input fullWidth formControlName="email" fieldSize="large"  nbInput>-->
                  <!--</div>-->
                <!--</div>-->

                <!--<div class="input-group-lader mt-4">-->
                  <!--<div class="row">-->
                    <!--<label class=" col mt-2 form-control-label" style="font-size: 20px">Contraseña</label>-->
                  <!--</div>-->
                  <!--<div class="row">-->
                    <!--<input fullWidth formControlName="password" type="password" fieldSize="large" nbInput>-->
                  <!--</div>-->
                <!--</div>-->



                <!--<input fullWidth  nbButton dis class="mt-4" value="Iniciar Sesión" type="submit" status="primary">-->
            <!--</form>-->
          <!--</nb-tab>-->
          <!--<nb-tab class="col-12" tabTitle="Root">-->

            <!--<div class="col-lg-4 offset-4" style="margin-top: 5%">-->
              <!--<div class="row">-->
                <!--<div class="col-6 offset-3">-->
                  <!--<img src="../../../../assets/icon/auth.svg" alt="">-->
                <!--</div>-->
              <!--</div>-->

                <!--<div class="input-group-lader mt-4">-->
                  <!--<div class="row">-->
                    <!--<label class=" col mt-2 form-control-label" style="font-size: 20px">Token Autenticador</label>-->
                  <!--</div>-->
                  <!--<div class="row">-->
                    <!--<input [formControl]="token" fullWidth fieldSize="large" nbInput>-->
                  <!--</div>-->
                <!--</div>-->

              <!--<input fullWidth nbButton class="mt-4" value="Iniciar Sesión" type="submit" status="primary" (click)="sendTokenGoogleAuth()">-->
              <!--</div>-->

          <!--</nb-tab>-->
        <!--</nb-tabset>-->
      <!--</nb-card-body>-->
      <!--<nb-card-footer>Mnago Hostel Admin</nb-card-footer>-->
    <!--</nb-card>-->
  <!--</nb-layout-column>-->

<!--</nb-layout>-->

<div class="container mt-5 d-flex justify-content-center">
  <div class="row">
    <mdb-tabset #staticTabs [buttonClass]="'md-tabs tabs-3'" [contentClass]="'card'">
      <!--Panel 2-->
      <mdb-tab heading="Administrador">
        <div class="row d-flex justify-content-center align-items-center">

          <div class="col-xl-5 col-md-4 mb-3 text-center">

            <img src="https://mdbootstrap.com/img/Photos/Avatars/img(31).jpg" class="img-fluid z-depth-1 rounded-circle"
                 alt="Responsive image">

          </div>

            <form [formGroup]="admin_form" class="text-center p-5 col-lg-7 col-md-8" (ngSubmit)="loginAdmin()">

              <p class="h4 mb-4">Ingresar</p>

              <!-- Email -->
              <input formControlName="email" type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

              <!-- Password -->
              <input formControlName="password" type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

              <div class="d-flex justify-content-around">
              </div>
              <span *ngIf="invalid_admin_flag" style="color: red;">El usuario o email es incorrecto</span>

              <!-- Sign in button -->
              <button mdbBtn color="info" block="true" class="my-4" type="submit">Ingresar</button>


            </form>
        </div>
      </mdb-tab>
      <!--Panel 3-->
      <mdb-tab heading="Root">
        <div class="row d-flex justify-content-center align-items-center">

          <div class=" offset-7 col-xl-5 col-lg-5 col-md-4 mb-3 ml-2 text-center">

            <img src="../../../../assets/icon/auth.svg" class="img-fluid z-depth-1 rounded-circle"
                 alt="Responsive image">

          </div>

          <div class="text-center p-5 col-lg-7 col-md-8">

            <p class="h4 mb-4">Ingresar</p>

            <!-- Email -->
            <input [formControl]="token"  type="password" id="token" class="form-control mb-4" placeholder="Token">

            <!-- Password -->

            <div class="d-flex justify-content-around">
            </div>
            <span *ngIf="invalid_root_flag" style="color: red;">El token es erroneo o ha expirado</span>

            <!-- Sign in button -->
            <button mdbBtn color="info" block="true" class="my-4" type="submit" (click)="sendTokenGoogleAuth()">Ingresar</button>

          </div>
        </div>
      </mdb-tab>
    </mdb-tabset>
  </div>

</div>



<div mdbModal #danger="mdbModal" class="modal fade" id="frameModalThird" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">¡Upsss!</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn mb-4 danger"></i>
        <p>No hemos podido procesa tu petición, itenta más tarde o asegurate que estas conectado a internet</p>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <button  mdbBtn color="danger" class="waves-light" (click)="danger.hide()" mdbWavesEffect>Aceptar</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
