<div class="row">
  <div class="col-lg-6">
    <div class="card card-cascade narrower">

      <!--Card image-->
      <div class="view view-cascade gradient-card-header orange darken-2 narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

        <div>
        </div>

        <a href="" class="white-text mx-3">Activos</a>

        <div>
          <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" (click)="openEditActivosModal()">
            <i class="fa fa-pencil mt-0"></i>
          </button>
          <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" (click)="confirmActivosDelete()">
            <mdb-icon fas icon="remove" class="mt-0"></mdb-icon>
          </button>
          <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" (click)="openNewActivosModal()">
            <mdb-icon fas icon="plus" class="mt-0"></mdb-icon>
          </button>
        </div>

      </div>
      <!--/Card image-->

      <div class="px-4">

        <div class="table-wrapper" style="overflow-x: scroll; overflow-y:auto;max-height: 650px">
          <!--Table-->
          <table class="table table-hover mb-0">

            <!--Table head-->
            <thead>
            <tr>
              <th>
                <mdb-checkbox (change)="activos=_utilerias.checkAllItems(activos,$event.checked)" ></mdb-checkbox>
              </th>
              <th class="th-lg">
                <a (click)="sorted_activo=_utilerias.sortBy('nombre',activos,sorted_activo).sorted;
                        activos=_utilerias.sortBy('nombre',activos,sorted_activo).usuarios">Nombre
                  <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
                </a>
              </th>
              <th class="th-lg">
                <a (click)="sorted_activo=_utilerias.sortBy('idhotel',activos,sorted_activo).sorted;
                        activos=_utilerias.sortBy('idhotel',activos,sorted_activo).usuarios">Hotel
                  <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
                </a>
              </th>
              <th class="th-lg">
                <a (click)="sorted_activo=_utilerias.sortBy('precio',activos,sorted_activo).sorted;
                        activos=_utilerias.sortBy('precio',activos,sorted_activo).usuarios">Precio
                  <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
                </a>
              </th>
            </tr>
            </thead>
            <!--Table head-->

            <!--Table body-->
            <tbody>
            <tr *ngFor="let row of activos;let i = index"
                [ngClass]="{'selected':row._id==selected_activo._id}">
              <th scope="row">
                <mdb-checkbox [checked]="row.check" (change)="toggleCheckActivo($event,i)"> </mdb-checkbox>
              </th>
              <td (click)="selectActivo(row)">{{row.nombre}}</td>
              <td (click)="selectActivo(row)">{{_utilerias.getPropertyById('nombre',hoteles,row.idhotel)}}</td>
              <td (click)="selectActivo(row)">{{row.precio}}</td>
            </tr>
            </tbody>
            <!--Table body-->
          </table>
          <!--Table-->
        </div>
      </div>
    </div>
  </div>



  <!--CAMAS-->
  <div class="col-lg-6">
    <div class="card card-cascade narrower">

      <!--Card image-->
      <div class="view view-cascade gradient-card-header orange darken-2 narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

        <div>
          <!--<button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">-->
            <!--<mdb-icon icon="th-large" class="mt-0"></mdb-icon>-->
          <!--</button>-->
          <!--<button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">-->
            <!--<mdb-icon icon="columns" class="mt-0"></mdb-icon>-->
          <!--</button>-->
        </div>

        <a href="" class="white-text mx-3">Camas</a>

        <div>
          <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" (click)="openEditCamaModal()">
            <i class="fa fa-pencil mt-0"></i>
          </button>
          <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" (click)="confirmCamaDelete()">
            <mdb-icon fas icon="remove" class="mt-0"></mdb-icon>
          </button>
          <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" (click)="openNewCamaModal()">
            <mdb-icon fas icon="plus" class="mt-0"></mdb-icon>
          </button>
        </div>

      </div>
      <!--/Card image-->

      <div class="px-4">

        <div class="table-wrapper" style="overflow-x: scroll;overflow-y:auto;max-height: 650px">
          <!--Table-->
          <table class="table table-hover mb-0">

            <!--Table head-->
            <thead>
            <tr>
              <th>
                <mdb-checkbox (change)="camas=_utilerias.checkAllItems(camas,$event.checked)"></mdb-checkbox>
              </th>
              <th class="th-lg">
                <a (click)="sorted_camas=_utilerias.sortBy('nombre',camas,sorted_camas).sorted;
                        camas=_utilerias.sortBy('nombre',camas,sorted_camas).usuarios">Código de inventario
                  <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
                </a>
              </th>
              <th class="th-lg">
                <a (click)="sorted_camas=_utilerias.sortBy('tipo',camas,sorted_camas).sorted;
                        camas=_utilerias.sortBy('tipo',camas,sorted_camas).usuarios">Tipo
                  <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
                </a>
              </th>
              <th class="th-lg">
                <a (click)="sorted_camas=_utilerias.sortBy('idhotel',camas,sorted_camas).sorted;
                        camas=_utilerias.sortBy('idhotel',camas,sorted_camas).usuarios">Hotel
                  <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
                </a>
              </th>
              <th class="th-lg">
                <a (click)="sorted_camas=_utilerias.sortBy('ocupacion',camas,sorted_camas).sorted;
                        camas=_utilerias.sortBy('ocupacion',camas,sorted_camas).usuarios">Ocupación
                  <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
                </a>
              </th>
            </tr>
            </thead>
            <!--Table head-->

            <!--Table body-->
            <tbody>
            <tr *ngFor="let row of camas;let i = index"
                [ngClass]="{'selected':row._id==selected_cama._id}">
              <th scope="row">
                <mdb-checkbox [checked]="row.check" (change)="toggleCheckCama($event,i)"> </mdb-checkbox>
              </th>
              <td (click)="selectCama(row)">{{row.nombre}}</td>
              <td (click)="selectCama(row)">{{row.tipo}}</td>
              <td (click)="selectCama(row)">{{_utilerias.getPropertyById('nombre',hoteles,row.idhotel)}}</td>
              <td (click)="selectCama(row)">{{row.ocupacion}}</td>
            </tr>
            </tbody>
            <!--Table body-->
          </table>
          <!--Table-->
        </div>
      </div>
    </div>

  </div>
</div>


<div mdbModal #data_modal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
     [config]='{backdrop: false, ignoreBackdropClick: true}'   aria-hidden="true">
  <div class="modal-dialog modal-full-height modal-right" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="data_modal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <div *ngIf="type_modal_open=='activo'">
          <h4 class="modal-title w-100"  *ngIf="data_modal_flag=='editar'">Editar Activo</h4>
          <h4 class="modal-title w-100"  *ngIf="data_modal_flag=='nuevo'">Agregar Activo</h4>
        </div>

        <div *ngIf="type_modal_open=='cama'">
          <h4 class="modal-title w-100"  *ngIf="data_modal_flag=='editar'">Editar Cama</h4>
          <h4 class="modal-title w-100" *ngIf="data_modal_flag=='nuevo'">Agregar Cama</h4>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6 offset-3 mt-2 mb-4">
            <div class="avatar mx-auto white"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg"
                                                   alt="avatar mx-auto white" class="rounded-circle img-fluid">
            </div>
          </div>
        </div>
        <form [formGroup]="activo_form" class="pl-4 pr-4" *ngIf="type_modal_open=='activo'">
          <div class="row">
            <div class="col-12">
              <div class="md-form">
                <input data-error="Se requiere el nombre" [validateSuccess]="false" type="text" formControlName="nombre" id="data_name" class="form-control" mdbInputDirective>
                <label for="data_name">Nombre</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="md-form">
                <input type="number" formControlName="precio" [validateSuccess]="false" data-error="El precio es requerido" id="data_precio" class="form-control" mdbInputDirective>
                <label for="data_precio">Precio</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <mdb-select formControlName="idhotel" [options]="select_hoteles" placeholder="Selecciona una opcion" label="Hotel"></mdb-select>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="md-form">
                <input type="number" formControlName="cantidad" id="data_ocupacion" class="form-control" mdbInputDirective>
                <label for="data_ocupacion">Cantidad</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="md-form">
                <input type="text" formControlName="descripcion" id="data_descripcion" class="form-control" mdbInputDirective>
                <label for="data_descripcion">Descripción</label>
              </div>
            </div>
          </div>
        </form>

        <form [formGroup]="cama_form" class="pl-4 pr-4" *ngIf="type_modal_open=='cama'">
          <div class="row">
            <div class="col-12">
              <div class="md-form">
                <input data-error="Se requiere el nombbre" [validateSuccess]="false" type="text" formControlName="nombre" id="cama_name" class="form-control" mdbInputDirective>
                <label for="cama_name">Código de inventario</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <mdb-select formControlName="tipo" [options]="select_tipo" placeholder="Selecciona un tipo" label="Tipo"></mdb-select>
            </div>
          </div>

          <div class="row" style="margin-top: 30px;">
            <div class="col-12">
              <mdb-select formControlName="idhotel" [options]="select_hoteles" placeholder="Selecciona una opcion" label="Hotel"></mdb-select>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="md-form">
                <input type="number" formControlName="ocupacion" [validateSuccess]="false" data-error="Se requiere la ocupación" id="cama_ocupacion" class="form-control" mdbInputDirective>
                <label for="cama_ocupacion">Ocupación</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer" *ngIf="type_modal_open=='activo'">
        <a [block]="true" *ngIf="data_modal_flag=='editar'"  mdbBtn color="primary" class="waves-light mt-2" mdbWavesEffect (click)="editaActivo()">Guardar</a>
        <a [block]="true" *ngIf="data_modal_flag=='nuevo'"  mdbBtn color="primary" class="waves-light mt-2" mdbWavesEffect (click)="saveDataModal()">Agregar</a>
        <a [block]="true"  type="button" mdbBtn color="primary" class="waves-light" (click)="data_modal.hide()" mdbWavesEffect data-dismiss="modal">Cancelar</a>
      </div>
      <div class="modal-footer" *ngIf="type_modal_open=='cama'">
        <a [block]="true" *ngIf="data_modal_flag=='editar'"  mdbBtn color="primary" class="waves-light mt-2" mdbWavesEffect (click)="editaCama()">Guardar</a>
        <a [block]="true" *ngIf="data_modal_flag=='nuevo'"  mdbBtn color="primary" class="waves-light mt-2" mdbWavesEffect (click)="saveDataModalCama()">Agregar</a>
        <a [block]="true"  type="button" mdbBtn color="primary" class="waves-light" (click)="data_modal.hide()" mdbWavesEffect data-dismiss="modal">Cancelar</a>
      </div>
    </div>
  </div>
</div >


<div mdbModal #success="mdbModal" class="modal fade" id="frameModalSecond" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Confirmación</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-check fa-4x animated rotateIn mb-4"></i>
        <p *ngIf="type_modal_open=='activo'">Has <span *ngIf="data_modal_flag=='nuevo'">agregado</span> <span *ngIf="data_modal_flag=='editar'">editado</span> a el activo "{{activo_form.get('nombre').value}}" exitosamente</p>
        <p *ngIf="type_modal_open=='cama'">Has <span *ngIf="data_modal_flag=='nuevo'">agregado</span> <span *ngIf="data_modal_flag=='editar'">editado</span> la cama "{{cama_form.get('nombre').value}}" exitosamente</p>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <button  mdbBtn color="success" (click)="success_modal.hide()" class="waves-light" mdbWavesEffect>Aceptar</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>



<div mdbModal #danger="mdbModal" class="modal fade" id="frameModalThird" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">¡Upsss!</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn mb-4 danger"></i>
        <p>No hemos podido procesa tu petición, itenta más tarde o asegurate que estas conectado a internet</p>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <button  mdbBtn color="danger" class="waves-light" (click)="danger.hide()" mdbWavesEffect>Aceptar</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<sure-delete #modal_sure_delete
             [arrayDelete]="array_selected"
             (acceptDelete)="selectFunctionDelete(array_selected)"
             [itemTypeSingular]="type_modal_open=='activo' ? 'activo':'cama' "
             [itemTypePlural]="type_modal_open=='activo' ? 'activos':'camas'">
</sure-delete>


<modal-delete-array #modal_delete_array
                    [notDeletedArray]="array_not_deleted"
                    [deletedArray]="array_deleted"
                    (close)="array_selected=[]"
                    [itemType]="type_modal_open=='activo' ? 'activos':'camas'">
</modal-delete-array>


