<div class="card card-cascade narrower">

  <!--Card image-->
  <div class="view view-cascade gradient-card-header orange darken-2 narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

    <div>
    </div>

    <a href="" class="white-text mx-3">Habitaciones</a>

    <div>
      <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" (click)="openEditHabitacionesModal()">
        <i class="fa fa-pencil mt-0"></i>
      </button>
      <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" (click)="confirmHabitacionDelete()">
        <mdb-icon fas icon="remove" class="mt-0"></mdb-icon>
      </button>
      <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" (click)="openNewHabitacionModal()">
        <mdb-icon fas icon="plus" class="mt-0"></mdb-icon>
      </button>
    </div>

  </div>
  <!--/Card image-->

  <div class="px-4">

    <div class="table-wrapper">
      <!--Table-->
      <table class="table table-hover mb-0">

        <!--Table head-->
        <thead>
        <tr>
          <th>
            <mdb-checkbox (change)="habitaciones=_utilerias.checkAllItems(habitaciones,$event.checked)"></mdb-checkbox>
          </th>
          <th class="th-lg">
            <a (click)="sorted=_utilerias.sortBy('nombre',habitaciones,sorted).sorted;
                        habitaciones=_utilerias.sortBy('nombre',habitaciones,sorted).usuarios">Nombre
              <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
            </a>
          </th>
          <th class="th-lg">
            <a (click)="sorted=_utilerias.sortBy('idhotel',habitaciones,sorted).sorted;
                        habitaciones=_utilerias.sortBy('idhotel',habitaciones,sorted).usuarios">Hotel
              <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
            </a>
          </th>
          <th class="th-lg">
            <a (click)="sorted=_utilerias.sortBy('ocupacion_max',habitaciones,sorted).sorted;
                        habitaciones=_utilerias.sortBy('ocupacion_max',habitaciones,sorted).usuarios">Ocupación
              <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
            </a>
          </th>
        </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody>
        <tr *ngFor="let row of habitaciones;let i = index"
            [ngClass]="{'selected':row._id==selected_habitacion._id}">
          <th scope="row">
            <mdb-checkbox [checked]="row.check" (change)="toggleCheckAdmin($event,i)"> </mdb-checkbox>
          </th>
          <td (click)="selectHabitacion(row)">{{row.nombre}}</td>
          <td (click)="selectHabitacion(row)">{{_utilerias.getPropertyById('nombre',hoteles,row.idhotel)}}</td>
          <td (click)="selectHabitacion(row)">{{row.ocupacion_max}}</td>
        </tr>
        </tbody>
        <!--Table body-->
      </table>
      <!--Table-->
    </div>
  </div>
</div>







<div mdbModal #data_modal="mdbModal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
     [config]='{backdrop: true, ignoreBackdropClick: true}' (close)="onCloseDataModal()"   aria-hidden="true">
  <div class="modal-dialog modal-lg " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="data_modal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="titleLabelEdit" *ngIf="data_modal_flag=='editar'">Editar Habitación</h4>
        <h4 class="modal-title w-100" id="titleLabelNew" *ngIf="data_modal_flag=='nuevo'">Agregar Habitación</h4>
      </div>
      <div class="modal-body" style="max-height: 600px; overflow-y: auto">
        <form [formGroup]="habitacion_form" class="pl-4 pr-4">

          <div class="row">


          <div class="col-6">
              <div class="md-form">
                <input data-error="Se requiere el nombre" [validateSuccess]="false" type="text" formControlName="nombre" id="edit_name" class="form-control" mdbInputDirective>
                <label for="edit_name">Nombre</label>
              </div>
            </div>


            <div class="col-6 mt-4">
              <mdb-select formControlName="idhotel" (selected)="onSelectHotel($event)" [options]="select_hoteles" placeholder="Selecciona una opcion" label="Hotel"></mdb-select>
            </div>

            <div class="col-4">
              <div class="md-form">
                <input type="number" formControlName="ocupacion_max" [validateSuccess]="false" data-error="Proporcione una ocupación máxima" id="ocupacion" class="form-control" mdbInputDirective>
                <label for="ocupacion">Ocupación Máxima</label>
              </div>
            </div>

            <div class="col-4">
              <div class="md-form">
                <input type="number" formControlName="max_children" [validateSuccess]="false" data-error="Ingrese un número valido" id="max_ninos" class="form-control" mdbInputDirective>
                <label for="max_ninos">Niños máximos permitidos</label>
              </div>
            </div>

            <div class="col-4">
              <div class="md-form">
                <input type="number" formControlName="precioBase" [validateSuccess]="false" data-error="Ingrese un precio base" id="precio" class="form-control" mdbInputDirective>
                <label for="precio">Precio Base</label>
              </div>
            </div>



            <div class="col-12">
              <div class="md-form">
                <textarea type="text" formControlName="descripcion" id="descripcion" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
                <label for="descripcion">Descripción</label>
              </div>
            </div>
          </div>



          <div class="row" style="margin-top: 10px">
            <h2 class="col-12">Camas</h2>
          </div>

          <div class="row">
            <div class="col">
              <hr>
            </div>
          </div>
          <div class="row">
              <div class="col-6" dndDropzone
                   (dndDrop)="deleteOfCamasAsigndas($event)">
              <mdb-card>
                <mdb-card-header>
                  Camas Disponibles
                  <div class="md-form">
                    <i class="fa fa-search prefix"></i>
                    <input mdbInput [formControl]="cama_search_input"
                           type="text" id="search" class="form-control"
                           (keyup)="searchCama(cama_search_input.value)">
                    <label for="search">Buscar</label>
                  </div>
                </mdb-card-header>

                <mdb-card-body class="card-body-camas">
                  <mdb-accordion [multiple]="false" aria-multiselectable="true">
                    <div *ngFor="let cama of camas_aux" [hidden]="cama.asignada"
                         [dndDraggable]="cama"
                         dndEffectAllowed="all"
                         (dndStart)="onDragStart($event)"
                         (dndCopied)="onDraggableCopied($event)"
                         (dndLinked)="onDraggableLinked($event)"
                         (dndMoved)="onDraggableMoved($event)"
                         (dndCanceled)="onDragCanceled($event)"
                         (dndEnd)="onDragEnd($event)">
                      <mdb-accordion-item  [collapsed]="true">
                        <mdb-accordion-item-head>
                          {{cama.nombre}}
                        </mdb-accordion-item-head>
                        <mdb-accordion-item-body>
                          Tipo: {{cama.tipo}}
                          <br>
                          Ocupación: {{cama.ocupacion}}
                        </mdb-accordion-item-body>
                      </mdb-accordion-item>
                    </div>

                  </mdb-accordion>
                </mdb-card-body>
              </mdb-card>
            </div>

            <div class="col-6" dndDropzone
                 (dndDragover)="onDragover($event)"
                 (dndDrop)="onDrop($event)">
              <mdb-card >
                <mdb-card-header>
                  Camas Asignadas
                </mdb-card-header>
                <mdb-card-body class="card-body-camas">
                  <mdb-accordion [multiple]="false" aria-multiselectable="true">
                    <div *ngFor="let cama of camas_asignadas"
                         [dndDraggable]="cama"
                         dndEffectAllowed="all"
                         (dndStart)="onDragStart($event)"
                         (dndCopied)="onDraggableCopied($event)"
                         (dndLinked)="onDraggableLinked($event)"
                         (dndMoved)="onDraggableMoved($event)"
                         (dndCanceled)="onDragCanceled($event)"
                         (dndEnd)="onDragEnd($event)">
                      <mdb-accordion-item  [collapsed]="true">
                        <mdb-accordion-item-head>

                          {{cama.nombre}}

                        </mdb-accordion-item-head>
                        <mdb-accordion-item-body>
                          Tipo: {{cama.tipo}}
                          <br>
                          Ocupación: {{cama.ocupacion}}
                        </mdb-accordion-item-body>
                      </mdb-accordion-item>
                    </div>
                  </mdb-accordion>
                </mdb-card-body>
              </mdb-card>
            </div>
          </div>

          <div class="row" style="margin-top: 50px">
            <h2 class="col-12">Precios</h2>
          </div>

          <div class="row">
            <div class="col">
              <hr>
            </div>
          </div>


          <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="col">
                  <h4>Temporadas</h4>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <mdb-accordion [multiple]="false" aria-multiselectable="true">
                    <mdb-accordion-item  *ngFor="let temporada of temporadas">
                      <mdb-accordion-item-head> {{temporada.nombre}}</mdb-accordion-item-head>
                      <mdb-accordion-item-body>

                        <div class="container">
                          <div class="row">
                            <span>Fecha de inicio:</span>
                          </div>
                          <div class="row">
                            {{ _utilerias.getCompleteDate(temporada.fechaInicio)}}
                          </div>

                          <div class="row" style="margin-top: 20px;">
                            <span >Fecha de término:</span>
                          </div>
                          <div class="row">
                            {{_utilerias.getCompleteDate(temporada.fechaFinal)}}
                          </div>
                        </div>

                        <div class="row align-items-center" style="margin-top: 20px">
                          <div class="col-6">
                            <span *ngIf="select_edit_temporada._id!=temporada._id">
                              Precio: {{getPrecioById(temporada)}}
                            </span>
                            <div class="md-form"  *ngIf="select_edit_temporada._id==temporada._id">
                              <input [formControl]="precio_temporada" mdbInput type="text" id="form1" class="form-control">
                              <label for="form1" class="">Precio</label>
                            </div>
                          </div>
                          <div class="col-2" *ngIf="!ifTarifaExist(temporada)  && !on_edit_temporada">
                            <button (click)="selectEditTemporada(temporada)" mdbBtn    class="btn-rounded btn-sm px-3" type="button" color="info" mdbWavesEffect><mdb-icon fas icon="plus"  class="mt-0" ></mdb-icon></button>
                          </div>

                          <div class="col-2" *ngIf="ifTarifaExist(temporada) && !on_edit_temporada">
                            <button (click)="selectEditTemporada(temporada) " mdbBtn    class="btn-rounded btn-sm px-3" type="button" color="info" mdbWavesEffect><mdb-icon fas icon="edit"  class="mt-0" ></mdb-icon></button>
                          </div>
                          <div class="col-2" *ngIf="select_edit_temporada._id==temporada._id ">
                            <button (click)="!ifTarifaExist(temporada) ? addTarifaToArray(temporada) : editTarifa(temporada) "
                                    [disabled]="!precio_temporada.valid"  mdbBtn
                                    class="btn-rounded btn-sm px-3" type="button"
                                    color="success" mdbWavesEffect><mdb-icon fas icon="check"  class="mt-0" ></mdb-icon></button>
                          </div>
                          <div class="col-2" *ngIf="ifTarifaExist(temporada) && !on_edit_temporada">
                            <button (click)="deleteTarifa(temporada)" mdbBtn
                                    class="btn-rounded btn-sm px-3" type="button"
                                    color="danger" mdbWavesEffect><mdb-icon fas icon="trash"  class="mt-0" ></mdb-icon></button>
                          </div>
                          <div class="col-2" *ngIf="select_edit_temporada._id==temporada._id">
                            <button (click)="cancelEditTemporada()"  mdbBtn  class="btn-rounded btn-sm px-3" type="button" color="danger" mdbWavesEffect><mdb-icon fas icon="times"  class="mt-0" ></mdb-icon></button>
                          </div>
                        </div>
                      </mdb-accordion-item-body>
                    </mdb-accordion-item>
                  </mdb-accordion>
                </div>
              </div>

            </div>

            <div class="col-6">
              <div class="row">
                <div class="col">
                  <h4>Revenue</h4>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <mdb-accordion [multiple]="false" aria-multiselectable="true">
                    <mdb-accordion-item  *ngFor="let revenue of revenues">
                      <mdb-accordion-item-head> {{revenue.nombre}}</mdb-accordion-item-head>
                      <mdb-accordion-item-body>

                        <div class="container">
                          <div class="row">
                            <span>Fecha de inicio:</span>
                          </div>
                          <div class="row">
                            {{ _utilerias.getCompleteDate(revenue.fechaInicio)}}
                          </div>

                          <div class="row" style="margin-top: 20px;">
                            <span >Fecha de término:</span>
                          </div>
                          <div class="row">
                            {{_utilerias.getCompleteDate(revenue.fechaFinal)}}
                          </div>
                        </div>

                        <div class="row align-items-center" style="margin-top: 20px">
                          <div class="col-6">
                            <span *ngIf="select_edit_revenue._id!=revenue._id">
                              Precio: {{getPrecioById(revenue)}}
                            </span>
                            <div class="md-form"  *ngIf="select_edit_revenue._id==revenue._id">
                              <input [formControl]="precio_revenue" mdbInput type="text" id="form2" class="form-control">
                              <label for="form2" class="">Precio</label>
                            </div>
                          </div>
                          <div class="col-2" *ngIf="!ifRevenueExist(revenue)  && !on_edit_revenue">
                            <button (click)="selectEditRevenue(revenue)" mdbBtn    class="btn-rounded btn-sm px-3" type="button" color="info" mdbWavesEffect><mdb-icon fas icon="plus"  class="mt-0" ></mdb-icon></button>
                          </div>

                          <div class="col-2" *ngIf="ifRevenueExist(revenue) && !on_edit_revenue">
                            <button (click)="selectEditRevenue(revenue) " mdbBtn    class="btn-rounded btn-sm px-3" type="button" color="info" mdbWavesEffect><mdb-icon fas icon="edit"  class="mt-0" ></mdb-icon></button>
                          </div>
                          <div class="col-2" *ngIf="select_edit_revenue._id==revenue._id ">
                            <button (click)="!ifRevenueExist(revenue) ? addRevenueToArray(revenue) : editRevenue(revenue) "
                                    [disabled]="!precio_revenue.valid"  mdbBtn
                                    class="btn-rounded btn-sm px-3" type="button"
                                    color="success" mdbWavesEffect><mdb-icon fas icon="check"  class="mt-0" ></mdb-icon></button>
                          </div>
                          <div class="col-2" *ngIf="ifRevenueExist(revenue) && !on_edit_revenue">
                            <button (click)="deleteRevenue(revenue)" mdbBtn
                                    class="btn-rounded btn-sm px-3" type="button"
                                    color="danger" mdbWavesEffect><mdb-icon fas icon="trash"  class="mt-0" ></mdb-icon></button>
                          </div>
                          <div class="col-2" *ngIf="select_edit_revenue._id==revenue._id">
                            <button (click)="cancelEditRevenue()"  mdbBtn  class="btn-rounded btn-sm px-3" type="button" color="danger" mdbWavesEffect><mdb-icon fas icon="times"  class="mt-0" ></mdb-icon></button>
                          </div>
                        </div>
                      </mdb-accordion-item-body>
                    </mdb-accordion-item>
                  </mdb-accordion>
                </div>
              </div>

            </div>
          </div>


        </form>
      </div>
      <div class="modal-footer">
        <button [block]="true"  mdbBtn color="primary" class="waves-light mt-2" *ngIf="data_modal_flag=='nuevo'" [disabled]="!habitacion_form.valid" mdbWavesEffect (click)="saveDataModal()">Agregar</button>
        <button [block]="true"  mdbBtn color="primary" class="waves-light mt-2" *ngIf="data_modal_flag=='editar'" mdbWavesEffect [disabled]="!habitacion_form.valid" (click)="editHabitacion()">Guardar</button>
        <button [block]="true"  type="button" mdbBtn color="primary" class="waves-light" (click)="data_modal.hide()" mdbWavesEffect data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div >





<div mdbModal #success="mdbModal" class="modal fade" id="frameModalSecond" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Confirmación</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-check fa-4x animated rotateIn mb-4"></i>
        <p>Has <span *ngIf="data_modal_flag=='nuevo'">agregado</span> <span *ngIf="data_modal_flag=='editar'">editado</span> a el usuario "{{habitacion_form.get('nombre').value}}" exitosamente</p>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <button  mdbBtn color="success" (click)="success_modal.hide()" class="waves-light" mdbWavesEffect>Aceptar</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>



<div mdbModal #danger="mdbModal" class="modal fade" id="frameModalThird" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">¡Upsss!</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn mb-4 danger"></i>
        <p>No hemos podido procesa tu petición, itenta más tarde o asegurate que estas conectado a internet</p>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <button  mdbBtn color="danger" class="waves-light" (click)="danger.hide()" mdbWavesEffect>Aceptar</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>



<sure-delete #modal_sure_delete
             [arrayDelete]="array_selected"
             (acceptDelete)="deleteHabitacion(array_selected)"
             itemTypeSingular="habitacion"
             itemTypePlural="habitaciones">
</sure-delete>


<modal-delete-array #modal_delete_array
                    [notDeletedArray]="array_not_deleted"
                    [deletedArray]="array_deleted"
                    (close)="array_selected=[]"
                    itemType="habitaciones">
</modal-delete-array>




