
<div class="row" >
  <div class="section">
    <mdb-carousel   class="carousel slide carousel-fade" [animation]="'fade'">
      <mdb-carousel-item >
        <video class="video-fluid" autoplay loop muted>
          <source src="https://mdbootstrap.com/img/video/Tropical.mp4" type="video/mp4" />
        </video>

        <div class="carousel-caption">
          <div class="animated fadeInDown">
            <h3 class="h3-responsive">Light mask</h3>
            <p>First text</p>
          </div>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <video class="video-fluid" autoplay loop muted>
          <source src="https://mdbootstrap.com/img/video/forest.mp4" type="video/mp4" />
        </video>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <video class="video-fluid" autoplay loop muted>
          <source src="https://mdbootstrap.com/img/video/Tropical.mp4" type="video/mp4" />
        </video>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
</div>


<div class="descripcion-breve">
    <!--Grid column-->
      <div class="container">
          <div class="row align-items-center" style="margin-top:100px; margin-bottom: 100px; font-family: Comforta-Regular">
            <div class="col-lg-4">
              <img src="../../../../assets/icon/logo.svg" alt="">
            </div>
            <div class="col-lg-8" style="padding-left: 50px; padding-right: 50px; font-size: 2vh">
              <div class="row" >
                  <b> <p align="justify" >Mango Hostel Cancún está localizado en una de las principales ciudades del Caribe. Descubre las hermosas playas de arena blanca y agua azul brillante mezclada con una gran vida nocturna y una cocina mexicana adictiva.
                    <br>
                    <br>
                    Algunas de las mejores cosas que hacer en Cancún están justo entre las olas. El buceo en Cancún es uno de los mejores del mundo, o prueba el kiteboarding. Baja por la costa para explorar las ruinas de Tulum y los cenotes cercanos.
                  </p>
                  </b>
              </div>
            </div>

          </div>
        <!--Grid column-->
      </div>
</div>


<div class=" intro" style="background-image: url(../../../../assets/img/hotelClaro1.jpg); background-size: cover; background-attachment: fixed; min-height: 700px">
    <div class="container">
      <div class="d-flex align-items-center d-flex justify-content-center" style="height: 700px">
        <div class="row" style=" margin-top:-100px">
          <div class="col-md-12 wow fadeIn mb-3" >
            <div class="intro-info-content text-center" style="font-family: Comforta-Bold;">
              <h4 class=" display-1  mb-2 wow fadeInDown" data-wow-delay="0.3s" style="font-size: 10vh;" >Comparte tu habitación</h4>
              <h3 class="mb-3 mt-1  font-bold wow fadeIn" data-wow-delay="0.4s">¡Paga menos!</h3>
              <a mdbBtn  size="lg" class="wow fadeIn waves-light peach-gradient text-white" mdbWavesEffect data-wow-delay="0.4s">¡Reservar ahora!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="row mb-5 " style="margin-top: 150px">
  <div class="col text-center orange-text"  style="font-family: Comforta-Bold">
    <h1><b>¿Qué ofrecemos?</b></h1>
  </div>

</div>
    <div class="row fadein" style="padding-right: 50px; padding-left: 50px;">
      <div class="col-lg-3">
        <div class="card card-image mt-3 mb-3" style="background-image: url(../../../../assets/img/hotel1.jpg);">

          <!-- Content -->
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
              <h3 class="card-title pt-2"><strong>Néctar</strong></h3>
              <p>2 personas (Privada) Cama matrimonial, balcón hacia la alberca, TV, baño privado, aire acondicionado, Wi-fi, desayuno incluido (L-S)</p>
              <a mdbBtn  class="waves-light " color="warning" mdbWavesEffect><i class="fa fa-calendar left"></i>Reservar</a>
            </div>
          </div>
          <!-- Content -->
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card card-image mt-3 mb-3" style="background-image: url(../../../../assets/img/hotel8.jpg);">

          <!-- Content -->
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
              <h3 class="card-title pt-2"><strong>Ook</strong></h3>
              <p>3 Personas (Privada) Cama matrimonial e individual, balcón hacia la alberca, baño privado,
                aire acondicionado, Wi-fi, desayuno incluido (L-S)</p>
              <a mdbBtn color="warning" class="waves-light" mdbWavesEffect><i class="fa fa-calendar left"></i> Reservar</a>
            </div>
          </div>
          <!-- Content -->
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card card-image mt-3 mb-3" style="background-image: url(../../../../assets/img/hotel5.jpg);">

          <!-- Content -->
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
              <h3 class="card-title pt-2"><strong>Muuch</strong></h3>
              <p>4 Personas (Privada) Dos camas matrimoniales, lounge fuera de la habitación, TV, baño privado,
                aire acondicionado, Wi-fi, desayuno incluido (L-S)</p>
              <a mdbBtn color="warning" class="waves-light" mdbWavesEffect><i class="fa fa-calendar left"></i> Reservar</a>
            </div>
          </div>
          <!-- Content -->
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card card-image mt-3 mb-3" style="background-image: url(../../../../assets/img/hotel5.jpg);">

          <!-- Content -->
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
              <h3 class="card-title pt-2"><strong>Cha’an</strong></h3>
              <p>8 Personas (Compartida) Literas, lockers, baño compartido, aire acondicionado, Wi-fi, desayuno incluido (L-S)</p>
              <a mdbBtn color="warning" class="waves-light" mdbWavesEffect><i class="fa fa-calendar left"></i> Reservar</a>
            </div>
          </div>
          <!-- Content -->
        </div>
      </div>
    </div>





