@font-face {
  font-family: ModernSans;
  src: url(../assets/fonts/ModernSans-Light.otf);
}

@font-face {
  font-family: Comforta-Bold;
  src: url(../assets/fonts/Comfortaa-Bold.ttf);
}

@font-face {
  font-family: Comforta-Light;
  src: url(../assets/fonts/Comfortaa-Light.ttf);
}


@font-face {
  font-family: Comforta-Regular;
  src: url(../assets/fonts/Comfortaa-Regular.ttf);
}
