<div class="row">
  <div class="col-lg-12">
    <div class="card card-cascade narrower">

      <!--Card image-->
      <div class="view view-cascade gradient-card-header orange darken-2 narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

        <div>
        </div>

        <a href="" class="white-text mx-3">Consumibles</a>

        <div>
          <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" (click)="openEditConsumibleModal()">
            <i class="fa fa-pencil mt-0"></i>
          </button>
          <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" (click)="confirmConsumibleDelete()">
            <mdb-icon fas icon="remove" class="mt-0"></mdb-icon>
          </button>
          <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" (click)="openNewConsumibleModal()">
            <mdb-icon fas icon="plus" class="mt-0"></mdb-icon>
          </button>
        </div>

      </div>
      <!--/Card image-->

      <div class="px-4">

        <div class="table-wrapper" style="overflow-x: scroll; overflow-y:visible">
          <!--Table-->
          <table class="table table-hover mb-0">

            <!--Table head-->
            <thead>
            <tr>
              <th>
                <mdb-checkbox (change)="consumibles=_utilerias.checkAllItems(consumibles,$event.checked)"></mdb-checkbox>
              </th>
              <th class="th-lg">
                <a (click)="sorted_consumible=_utilerias.sortBy('nombre',consumibles,sorted_consumible).sorted;
                        consumibles=_utilerias.sortBy('nombre',consumibles,sorted_consumible).usuarios">Nombre
                  <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
                </a>
              </th>
              <th class="th-lg">
                <a (click)="sorted_consumible=_utilerias.sortBy('idhotel',consumibles,sorted_consumible).sorted;
                        consumibles=_utilerias.sortBy('idhotel',consumibles,sorted_consumible).usuarios">Hotel
                  <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
                </a>
              </th>
              <th class="th-lg">
                <a (click)="sorted_consumible=_utilerias.sortBy('precio',consumibles,sorted_consumible).sorted;
                        consumibles=_utilerias.sortBy('precio',consumibles,sorted_consumible).usuarios">Precio
                  <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
                </a>
              </th>
            </tr>
            </thead>
            <!--Table head-->

            <!--Table body-->
            <tbody>
            <tr *ngFor="let row of consumibles;let i = index"
                [ngClass]="{'selected':row._id==selected_consumible._id}">
              <th scope="row">
                <mdb-checkbox [checked]="row.check" (change)="toggleCheckConsumible($event,i)"> </mdb-checkbox>
              </th>
              <td (click)="selectConsumible(row)">{{row.nombre}}</td>
              <td (click)="selectConsumible(row)">{{_utilerias.getPropertyById('nombre',hoteles,row.idhotel)}}</td>
              <td (click)="selectConsumible(row)">{{row.precio}}</td>
            </tr>
            </tbody>
            <!--Table body-->
          </table>
          <!--Table-->
        </div>
      </div>
    </div>
  </div>
</div>


<div mdbModal #data_modal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
     [config]='{backdrop: false, ignoreBackdropClick: true}'   aria-hidden="true">
  <div class="modal-dialog modal-full-height modal-right" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="data_modal.hide()">
          <span aria-hidden="true">×</span>
        </button>
          <h4 class="modal-title w-100"  *ngIf="data_modal_flag=='editar'">Editar Consumible</h4>
          <h4 class="modal-title w-100"  *ngIf="data_modal_flag=='nuevo'">Agregar Consumible</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6 offset-3 mt-2 mb-4">
            <div class="avatar mx-auto white"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg"
                                                   alt="avatar mx-auto white" class="rounded-circle img-fluid">
            </div>
          </div>
        </div>
        <form [formGroup]="consumible_form" class="pl-4 pr-4">
          <div class="row">
            <div class="col-12">
              <div class="md-form">
                <input data-error="Se requiere el nombre" [validateSuccess]="false" type="text" formControlName="nombre" id="data_name" class="form-control" mdbInputDirective>
                <label for="data_name">Nombre</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="md-form">
                <input type="number" formControlName="precio" [validateSuccess]="false" data-error="El precio es requerido" id="data_precio" class="form-control" mdbInputDirective>
                <label for="data_precio">Precio</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <mdb-select formControlName="idhotel" [options]="select_hoteles" placeholder="Selecciona una opcion" label="Hotel"></mdb-select>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="md-form">
                <input type="text" formControlName="descripcion" id="data_descripcion" class="form-control" mdbInputDirective>
                <label for="data_descripcion">Descripción</label>
              </div>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <a [block]="true" *ngIf="data_modal_flag=='editar'"  mdbBtn color="primary" class="waves-light mt-2" mdbWavesEffect (click)="editaConsumible()">Guardar</a>
        <a [block]="true" *ngIf="data_modal_flag=='nuevo'"  mdbBtn color="primary" class="waves-light mt-2" mdbWavesEffect (click)="saveDataModal()">Agregar</a>
        <a [block]="true"  type="button" mdbBtn color="primary" class="waves-light" (click)="data_modal.hide()" mdbWavesEffect data-dismiss="modal">Cancelar</a>
      </div>
  </div>
  </div>
</div>






<div mdbModal #success="mdbModal" class="modal fade" id="frameModalSecond" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Confirmación</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-check fa-4x animated rotateIn mb-4"></i>
        Has <span *ngIf="data_modal_flag=='nuevo'">agregado</span> <span *ngIf="data_modal_flag=='editar'">editado</span> el consumible "{{consumible_form.get('nombre').value}}" exitosamente.
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <button  mdbBtn color="success" (click)="success_modal.hide()" class="waves-light" mdbWavesEffect>Aceptar</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>



<div mdbModal #danger="mdbModal" class="modal fade" id="frameModalThird" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">¡Upsss!</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn mb-4 danger"></i>
        <p>No hemos podido procesar tu petición, intenta más tarde o asegurate que estas conectado a internet</p>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <button  mdbBtn color="danger" class="waves-light" (click)="danger.hide()" mdbWavesEffect>Aceptar</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<sure-delete #modal_sure_delete
             [arrayDelete]="array_selected"
             (acceptDelete)="deleteConsumible(array_selected)"
             itemTypeSingular="consumible"
             itemTypePlural="consumibles">
</sure-delete>


<modal-delete-array #modal_delete_array
                    [notDeletedArray]="array_not_deleted"
                    [deletedArray]="array_deleted"
                    (close)="array_selected=[]"
                    itemType="consumible">
</modal-delete-array>



