<div class="card card-cascade narrower">

  <!--Card image-->
  <div class="view view-cascade gradient-card-header orange darken-2 narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

    <div>
      <button (click)="table_view=false" type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
        <mdb-icon fas icon="th-large" class="mt-0"></mdb-icon>
      </button>
      <button (click)="table_view=true" type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
        <mdb-icon fas icon="columns" class="mt-0"></mdb-icon>
      </button>
    </div>

    <a href="" class="white-text mx-3">Administradores</a>

    <div>
      <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" (click)="openEditAdminModal()">
        <i class="fa fa-pencil mt-0"></i>
      </button>
      <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" (click)="confirmUsersDelete()">
        <mdb-icon fas icon="remove" class="mt-0"></mdb-icon>
      </button>
      <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" (click)="openNewAdminModal()">
        <mdb-icon fas icon="plus" class="mt-0"></mdb-icon>
      </button>
    </div>

  </div>
  <!--/Card image-->

  <div class="px-4">
    <div class="row" style="overflow-y:auto;max-height: 650px" *ngIf="!table_view">
      <div class="col-md-3" *ngFor="let admin of admins" style="margin-bottom: 20px " (click)="selectAdmin(admin)">

        <mdb-card [ngClass]="{'selectedCard':admin._id==selected_admin._id}" class="testimonial-card" (click)="selectAdmin(admin)" style="cursor: pointer">
          <!--Bacground color-->
          <div (click)="selectAdmin(admin)" style="height: 80px" class="card-up orange lighten-1">
          </div>

          <!--Avatar-->
          <div class="avatar mx-auto" (click)="selectAdmin(admin)">
            <img *ngIf="admin.img != null" [src]="servidor + admin.img" class="rounded-circle">
            <img *ngIf="admin.img == null" src="../../../../../assets/img/user-default.png" class="rounded-circle">
          </div>

          <mdb-card-body  (click)="selectAdmin(admin)">
            <!--Name-->
            <mdb-card-title>
              <h4>{{admin.nombre}}</h4>
            </mdb-card-title>

            <!--Quotation-->
            <p>{{admin.email}}</p>
          </mdb-card-body>
        </mdb-card>

      </div>
      <!--Grid column-->
    </div>

    <div class="table-wrapper" *ngIf="table_view">
      <!--Table-->
      <table class="table table-hover mb-0">

        <!--Table head-->
        <thead>
        <tr>
          <th>
            <mdb-checkbox (change)="admins=_utilerias.checkAllItems(admins,$event.checked)"></mdb-checkbox>
          </th>
          <th class="th-lg">
            <a (click)="sorted=_utilerias.sortBy('nombre',admins,sorted).sorted;
                        admins=_utilerias.sortBy('nombre',admins,sorted).usuarios">Nombre
              <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
            </a>
          </th>
          <th class="th-lg">
            <a (click)="sorted=_utilerias.sortBy('email',admins,sorted).sorted;
                        admins=_utilerias.sortBy('email',admins,sorted).usuarios">Email
              <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
            </a>
          </th>
        </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody>
        <tr *ngFor="let row of admins;let i = index"
            [ngClass]="{'selected':row._id==selected_admin._id}">
          <th scope="row">
            <mdb-checkbox [checked]="row.check" (change)="toggleCheckAdmin($event,i)"> </mdb-checkbox>
          </th>
          <td (click)="selectAdmin(row)">{{row.nombre}}</td>
          <td (click)="selectAdmin(row)">{{row.email}}</td>
        </tr>
        </tbody>
        <!--Table body-->
      </table>
      <!--Table-->
    </div>
  </div>
</div>





<div mdbModal #data_modal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
     [config]='{backdrop: false, ignoreBackdropClick: true}'   aria-hidden="true">
  <div class="modal-dialog modal-full-height modal-right" role="document">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="data_modal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="titleLabelEdit" *ngIf="data_modal_flag=='editar'">Editar Administrador</h4>
        <h4 class="modal-title w-100" id="titleLabelNew" *ngIf="data_modal_flag=='nuevo'">Agregar Administrador</h4>
      </div>
      <div class="modal-body" style="overflow-y: scroll; max-height: 700px">

        <form [formGroup]="admin_form" class="pl-4 pr-4">
          <div class="row">
            <div class="col-12">
              <div class="md-form">
                <input data-error="Se requiere el nombre" [validateSuccess]="false" type="text" formControlName="nombre" id="edit_name" class="form-control" mdbInputDirective>
                <label for="edit_name">Nombre</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="md-form">
                <input data-error="Se requiere el apellido" [validateSuccess]="false" type="text" formControlName="apPaterno" id="edit_apellido" class="form-control" mdbInputDirective>
                <label for="edit_apellido">Apellido Paterno</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="md-form">
                <input data-error="Se requiere el apellido" [validateSuccess]="false" type="text" formControlName="apMaterno" id="apMaterno" class="form-control" mdbInputDirective>
                <label for="apMaterno">Apellido Materno</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="md-form">
                <input type="email" formControlName="email" [validateSuccess]="false" data-error="Email inválido" id="edit_email" class="form-control" mdbInputDirective>
                <label for="edit_email">Email</label>
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-12">
              <mdb-select formControlName="idhotel" [(ngModel)]="preselected" [options]="select_hoteles" placeholder="Selecciona una opcion" label="Hotel"></mdb-select>
            </div>
          </div>

          <div class="row" *ngIf="data_modal_flag=='nuevo'">
            <div class="col-12">
              <div class="md-form">
                <input type="password" formControlName="password" [validateSuccess]="false" data-error="Contraseña inválida" id="password" class="form-control" mdbInputDirective>
                <label for="password">Contraseña</label>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="data_modal_flag=='nuevo'">
            <div class="col-12">
              <div class="md-form">
                <input type="password" formControlName="confirm_password" [validateSuccess]="false" data-error="Contraseña inválida" id="confirm_password" class="form-control" mdbInputDirective>
                <label for="confirm_password">Confirma la contraseña</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <hr>
            </div>
          </div>
          <div class="row mt-2 mb-3">
            <div class="col">
              <h4>Permisos</h4>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mdb-checkbox  formControlName="accessAdministradores" >Administradores</mdb-checkbox>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mdb-checkbox   formControlName="accessHoteles">Hoteles</mdb-checkbox>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mdb-checkbox  formControlName="accessClientes">Clientes</mdb-checkbox>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mdb-checkbox  formControlName="accessHabitaciones">Habitaciones</mdb-checkbox>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mdb-checkbox  formControlName="accessCamas">Camas</mdb-checkbox>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mdb-checkbox  formControlName="accessTemporadas">Tarifas</mdb-checkbox>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mdb-checkbox  formControlName="accessReservaciones">Reservas</mdb-checkbox>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mdb-checkbox  formControlName="accessContactos">Formulario de Contacto</mdb-checkbox>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a [block]="true"  mdbBtn color="primary" class="waves-light mt-2" mdbWavesEffect (click)="saveDataModal()">Guardar</a>
        <a [block]="true"  type="button" mdbBtn color="primary" class="waves-light" (click)="data_modal.hide()" mdbWavesEffect data-dismiss="modal">Cancelar</a>
      </div>
    </div>
  </div>
</div >





<div mdbModal #success="mdbModal" class="modal fade" id="frameModalSecond" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Confirmación</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-check fa-4x animated rotateIn mb-4"></i>
        <p>Has <span *ngIf="data_modal_flag=='nuevo'">agregado</span> <span *ngIf="data_modal_flag=='editar'">editado</span> a el administrador "{{admin_form.get('nombre').value}}" exitosamente</p>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <button  mdbBtn color="success" (click)="success_modal.hide()" class="waves-light" mdbWavesEffect>Aceptar</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>



<div mdbModal #danger="mdbModal" class="modal fade" id="frameModalThird" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">¡Upsss!</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn mb-4 danger"></i>
        <p>No hemos podido procesa tu petición, itenta más tarde o asegurate que estas conectado a internet</p>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <button  mdbBtn color="danger" class="waves-light" (click)="danger.hide()" mdbWavesEffect>Aceptar</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>


<sure-delete #modal_sure_delete
             [arrayDelete]="array_selected"
             (acceptDelete)="deleteAdmin(array_selected)"
             itemTypeSingular="administrador"
             itemTypePlural="administradores">
</sure-delete>


<modal-delete-array #modal_delete_array
                    [notDeletedArray]="array_not_deleted"
                    [deletedArray]="array_deleted"
                    (close)="array_selected=[]"
                    itemType="administradores">
</modal-delete-array>


