
<div class="row">
  <mdb-tabset (getActiveTab)="initControls()" [buttonClass]="'classic-tabs orange darken-2'" [contentClass]="'card'" class="classic-tabs col">
    <!--Panel 1-->
    <mdb-tab heading="Temporadas">
      <div class="row align-items-center">
        <div [ngClass]="{'col-12':on_edit}" class="col-8" style="height: 400px; overflow-y: scroll">
          <table class="table">
            <!-- Table head -->
            <thead>
            <tr>
              <th class="text-center">Temporada</th>
              <th class="text-center">
                Fecha Inicio
              </th>
              <th class="text-center">
                Fecha Termino
              </th>
              <th class="text-center">
                Hotel
              </th>
              <th>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let temporada of temporadas">
              <td class="align-middle text-center"><span *ngIf="!(temporada._id==id_on_edit)">{{temporada.nombre}}</span>
                <div class="md-form " *ngIf="temporada._id==id_on_edit">
                  <input [formControl]="nombre"  type="text" class="form-control" placeholder="First name">
                </div>
              </td>
              <td class="align-middle text-center">
                <span *ngIf="!(temporada._id==id_on_edit)">{{_utileriasService.getFormatDate(temporada.fechaInicio)}}</span>
                <mdb-date-picker [formControl]="fechaInicio" *ngIf="temporada._id==id_on_edit" name="date" [options]="date_options" [placeholder]="'Selecciona una fecha'" ></mdb-date-picker>
              </td>
              <td class="align-middle text-center">
                <span *ngIf="!(temporada._id==id_on_edit)">{{_utileriasService.getFormatDate(temporada.fechaFinal)}}</span>
                <mdb-date-picker [formControl]="fechaFinal" *ngIf="temporada._id==id_on_edit" name="date" [options]="date_options" [placeholder]="'Selecciona una fecha'" ></mdb-date-picker>

              </td>
              <td class="align-middle text-center">
                <span *ngIf="!(temporada._id==id_on_edit ) && temporada.idhotel != null">{{_utileriasService.getPropertyById('nombre',hoteles,temporada.idhotel)}}</span>
                <span *ngIf="!(temporada._id==id_on_edit ) && temporada.idhotel == null">Aplica a todos</span>
                <mdb-select [formControl]="hotel" *ngIf="temporada._id==id_on_edit"  [options]="select_hoteles" placeholder="Selecciona una opcion" label="Hotel"></mdb-select>
              </td>
              <td class="align-middle">
                <mdb-icon *ngIf="!on_edit" fas icon="edit" size="1x" style="cursor: pointer" (click)="selectItemToEdit(temporada)"></mdb-icon>
                <mdb-icon *ngIf="!on_edit" fas size="1x" style="margin-left:10px; cursor: pointer" (click)="confirmDelete(temporada)"  icon="trash" class="mt-0" ></mdb-icon>
                <button style="width: 35%;" (click)="editTemporada(temporada)" mdbBtn  *ngIf="on_edit && (temporada._id==id_on_edit)" class="btn-rounded btn-sm px-2" type="button" color="success" mdbWavesEffect><mdb-icon fas icon="save"  class="mt-0" ></mdb-icon></button>
                <button style="width: 35%;" (click)="on_edit=false; id_on_edit=null;" mdbBtn  *ngIf="on_edit && (temporada._id==id_on_edit)" class="btn-rounded btn-sm px-2" type="button" color="danger"  mdbWavesEffect><mdb-icon fas icon="times" class="mt-0"  ></mdb-icon></button>
              </td>
            </tr>
            </tbody>
            <!-- Table body -->
          </table>
        </div>

        <div class="col-4" style="height: 380px" *ngIf="!on_edit">
            <form [formGroup]="temporada_form" style="height: 100%;padding-left: 10px">
              <div class="row">
                <div class="col-12">
                  <div class="md-form">
                    <input formControlName="nombre" mdbInput type="text" id="nombre" class="form-control">
                    <label for="nombre" class="">Nombre</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <mdb-date-picker name="fechaInicio" [options]="date_options" [placeholder]="'Fecha Inicio'"
                                   formControlName="fechaInicio"></mdb-date-picker>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <mdb-date-picker name="fechaFinal" [options]="date_options" [placeholder]="'Fecha Final'"
                                   formControlName="fechaFinal"></mdb-date-picker>
                </div>
              </div>

              <div class="row mt-4">
                <div class="col-12">
                  <mdb-select formControlName="idhotel"  [options]="select_hoteles" placeholder="Selecciona una opcion" label="Hotel"></mdb-select>
                </div>
              </div>



              <div class="row">
                <div class="col-12">
                  <button [disabled]="!temporada_form.valid" mdbBtn block="true" type="button" color="amber" (click)="addTemporada()" mdbWavesEffect>Agregar</button>
                </div>
              </div>

            </form>
        </div>
      </div>
    </mdb-tab>
    <!--Panel 2-->
    <mdb-tab heading="Revenue">
      <div class="row align-items-center">
        <div [ngClass]="{'col-12':on_edit}" class="col-8" style="height: 400px; overflow-y: scroll">
          <table class="table">
            <!-- Table head -->
            <thead>
            <tr>
              <th class="text-center">Revenue</th>
              <th class="text-center">
                Fecha Inicio
              </th>
              <th class="text-center">
                Fecha Termino
              </th>
              <th class="text-center">
                Hotel
              </th>
              <th>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let temporada of revenues">
              <td class="align-middle text-center"><span *ngIf="!(temporada._id==id_on_edit)">{{temporada.nombre}}</span>
                <div class="md-form " *ngIf="temporada._id==id_on_edit">
                  <input [formControl]="nombre"  type="text" class="form-control" placeholder="First name">
                </div>
              </td>
              <td class="align-middle text-center">
                <span *ngIf="!(temporada._id==id_on_edit)">{{_utileriasService.getFormatDate(temporada.fechaInicio)}}</span>
                <mdb-date-picker [formControl]="fechaInicio" *ngIf="temporada._id==id_on_edit" name="date" [options]="date_options" [placeholder]="'Selecciona una fecha'" ></mdb-date-picker>
              </td>
              <td class="align-middle text-center">
                <span *ngIf="!(temporada._id==id_on_edit)">{{_utileriasService.getFormatDate(temporada.fechaFinal)}}</span>
                <mdb-date-picker [formControl]="fechaFinal" *ngIf="temporada._id==id_on_edit" name="date" [options]="date_options" [placeholder]="'Selecciona una fecha'" ></mdb-date-picker>

              </td>
              <td class="align-middle text-center">
                <span *ngIf="!(temporada._id==id_on_edit)">{{_utileriasService.getPropertyById('nombre',hoteles,temporada.idhotel)}}</span>
                <mdb-select [formControl]="hotel" *ngIf="temporada._id==id_on_edit"  [options]="select_hoteles" placeholder="Selecciona una opcion" label="Hotel"></mdb-select>
              </td>
              <td class="align-middle">
                <mdb-icon *ngIf="!on_edit" fas icon="edit" size="1x" style="cursor: pointer" (click)="selectItemToEdit(temporada)"></mdb-icon>
                <mdb-icon *ngIf="!on_edit" fas size="1x" style="margin-left:10px; cursor: pointer" (click)="confirmDelete(temporada)"  icon="trash" class="mt-0" ></mdb-icon>
                <button style="width: 35%;" (click)="editTemporada(temporada)" mdbBtn  *ngIf="on_edit && (temporada._id==id_on_edit)" class="btn-rounded btn-sm px-2" type="button" color="success" mdbWavesEffect><mdb-icon fas icon="save"  class="mt-0" ></mdb-icon></button>
                <button style="width: 35%;" (click)="on_edit=false; id_on_edit=null;" mdbBtn  *ngIf="on_edit && (temporada._id==id_on_edit)" class="btn-rounded btn-sm px-2" type="button" color="danger"  mdbWavesEffect><mdb-icon fas icon="times" class="mt-0"  ></mdb-icon></button>
              </td>
            </tr>
            </tbody>
            <!-- Table body -->
          </table>
        </div>

        <div class="col-4" style="height: 380px" *ngIf="!on_edit">
          <form [formGroup]="temporada_form" style="height: 100%;padding-left: 10px">
            <div class="row">
              <div class="col-12">
                <div class="md-form">
                  <input formControlName="nombre" mdbInput type="text" id="nombreR" class="form-control">
                  <label for="nombreR" class="">Nombre</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <mdb-date-picker name="fechaInicio" [options]="date_options" [placeholder]="'Fecha Inicio'"
                                 formControlName="fechaInicio"></mdb-date-picker>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <mdb-date-picker name="fechaFinal" [options]="date_options" [placeholder]="'Fecha Final'"
                                 formControlName="fechaFinal"></mdb-date-picker>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-12">
                <mdb-select formControlName="idhotel"  [options]="select_hoteles" placeholder="Selecciona una opcion" label="Hotel"></mdb-select>
              </div>
            </div>



            <div class="row">
              <div class="col-12">
                <button [disabled]="!temporada_form.valid" mdbBtn block="true" type="button" color="amber" (click)="addRevenue()" mdbWavesEffect>Agregar</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </mdb-tab>
    <!--Panel 3-->
    <mdb-tab heading="Blackouts">
      <div class="row align-items-center">
        <div [ngClass]="{'col-12':on_edit}" class="col-8" style="height: 400px; overflow-y: scroll">
          <table class="table">
            <!-- Table head -->
            <thead>
            <tr>
              <th class="text-center">Blackout</th>
              <th class="text-center">
                Fecha Inicio
              </th>
              <th class="text-center">
                Fecha Termino
              </th>
              <th class="text-center">
                Hotel
              </th>
              <th>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let temporada of blackouts">
              <td class="align-middle text-center"><span *ngIf="!(temporada._id==id_on_edit)">{{temporada.nombre}}</span>
                <div class="md-form " *ngIf="temporada._id==id_on_edit">
                  <input [formControl]="nombre"  type="text" class="form-control" placeholder="First name">
                </div>
              </td>
              <td class="align-middle text-center">
                <span *ngIf="!(temporada._id==id_on_edit)">{{_utileriasService.getFormatDate(temporada.fechaInicio)}}</span>
                <mdb-date-picker [formControl]="fechaInicio" *ngIf="temporada._id==id_on_edit" name="date" [options]="date_options" [placeholder]="'Selecciona una fecha'" ></mdb-date-picker>
              </td>
              <td class="align-middle text-center">
                <span *ngIf="!(temporada._id==id_on_edit)">{{_utileriasService.getFormatDate(temporada.fechaFinal)}}</span>
                <mdb-date-picker [formControl]="fechaFinal" *ngIf="temporada._id==id_on_edit" name="date" [options]="date_options" [placeholder]="'Selecciona una fecha'" ></mdb-date-picker>

              </td>
              <td class="align-middle text-center">
                <span *ngIf="!(temporada._id==id_on_edit)">{{_utileriasService.getPropertyById('nombre',hoteles,temporada.idhotel)}}</span>
                <mdb-select [formControl]="hotel" *ngIf="temporada._id==id_on_edit"  [options]="select_hoteles" placeholder="Selecciona una opcion" label="Hotel"></mdb-select>
              </td>
              <td class="align-middle">
                <mdb-icon *ngIf="!on_edit" fas icon="edit" size="2x" style="cursor: pointer" (click)="selectItemToEdit(temporada)"></mdb-icon>
                <mdb-icon *ngIf="!on_edit" fas size="2x" style="margin-left:10px;cursor: pointer" (click)="confirmDelete(temporada)" icon="trash" class="mt-0" ></mdb-icon>
                <button style="width: 35%;" (click)="editTemporada(temporada)" mdbBtn  *ngIf="on_edit && (temporada._id==id_on_edit)" class="btn-rounded btn-sm px-2" type="button" color="success" mdbWavesEffect><mdb-icon fas icon="save"  class="mt-0" ></mdb-icon></button>
                <button style="width: 35%;" (click)="on_edit=false; id_on_edit=null;" mdbBtn  *ngIf="on_edit && (temporada._id==id_on_edit)" class="btn-rounded btn-sm px-2" type="button" color="danger"  mdbWavesEffect><mdb-icon fas icon="times" class="mt-0"  ></mdb-icon></button>
              </td>
            </tr>
            </tbody>
            <!-- Table body -->
          </table>
        </div>

        <div class="col-4" style="height: 380px" *ngIf="!on_edit">
          <form [formGroup]="temporada_form" style="height: 100%;padding-left: 10px">
            <div class="row">
              <div class="col-12">
                <div class="md-form">
                  <input formControlName="nombre" mdbInput type="text" id="nombreB" class="form-control">
                  <label for="nombreB" class="">Nombre</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <mdb-date-picker name="fechaInicio" [options]="date_options" [placeholder]="'Fecha Inicio'"
                                 formControlName="fechaInicio"></mdb-date-picker>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <mdb-date-picker name="fechaFinal" [options]="date_options" [placeholder]="'Fecha Final'"
                                 formControlName="fechaFinal"></mdb-date-picker>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-12">
                <mdb-select formControlName="idhotel"  [options]="select_hoteles" placeholder="Selecciona una opcion" label="Hotel"></mdb-select>
              </div>
            </div>



            <div class="row">
              <div class="col-12">
                <button [disabled]="!temporada_form.valid" mdbBtn block="true" type="button" color="amber" (click)="addBlackout()" mdbWavesEffect>Agregar</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </mdb-tab>
  </mdb-tabset>
</div>


<div mdbModal #success="mdbModal" class="modal fade" id="frameModalSecond" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Confirmación</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-check fa-4x animated rotateIn mb-4"></i>
        <p>Has
          <span *ngIf="action_on=='nuevo'">agregado </span>
          <span *ngIf="action_on=='editar'">editado </span>

        <span *ngIf="type_on=='REV'">el revenue</span>
          <span *ngIf="type_on=='NORMAL'">la temporada</span>
          <span *ngIf="type_on=='BOUT'">el blackout</span>

          <span *ngIf="action_on=='editar'"> "{{temporada_on.nombre}}" </span>

          correctamente.
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <button   mdbBtn color="success" (click)="success.hide()" class="waves-light" mdbWavesEffect>Aceptar</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>



<div mdbModal #modal_delete="mdbModal" class="modal fade" id="frameModalFirst" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Confirmación</p>
      </div>
      <!--Body-->
        <i class="fa fa-question-circle fa-4x animated rotateIn mb-4 mt-3"></i>
        <p>Estas seguro de que deseas eliminar
          <span *ngIf="type_on=='REV'">el revenue</span>
          <span *ngIf="type_on=='NORMAL'">la temporada</span>
          <span *ngIf="type_on=='BOUT'">el blackout</span>

           "{{temporada_on.nombre}}"
      <!--Footer-->
      <div class="modal-footer ">

        <a [block]="true" (click)="deleteTemporada()" mdbBtn color="primary" class="waves-light mt-2" mdbWavesEffect>Si</a>


        <a [block]="true"  type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect data-dismiss="modal" (click)="modal_delete.hide()">No</a>

      </div>
    </div>
    <!--/.Content-->
  </div>
</div>


<div mdbModal #modal_success_delete="mdbModal" class="modal fade" id="frameModalThird" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" >
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Confirmación</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="row ">
          <div class="col text-center">
            <i class="fa fa-trash fa-4x animated rotateIn mb-4"></i>

          </div>
        </div>

        <div class="row mb-4">
          <div class="col text-center">
            <span>Se han eliminado </span>
            <span *ngIf="type_on=='REV'">el revenue</span>
            <span *ngIf="type_on=='NORMAL'">la temporada</span>
            <span *ngIf="type_on=='BOUT'">el blackout</span>

            "{{temporada_on.nombre}}"

            correctamente
          </div>



        </div>





      <!--Footer-->
      <div class="modal-footer">
        <button [block]="true" type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect data-dismiss="modal" (click)="modal_success_delete.hide()">Aceptar</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
</div>


<div mdbModal #danger="mdbModal" class="modal fade" id="frameModalFourth" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">¡Upsss!</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn mb-4 danger"></i>
        <p>No hemos podido procesar tu petición, intenta más tarde o asegurate que estas conectado a internet</p>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <button  mdbBtn color="danger" class="waves-light" (click)="danger.hide()" mdbWavesEffect>Aceptar</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>


<div mdbModal #moda_error_fechas="mdbModal" class="modal fade" id="frameModalFiveth" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Error de Fecha</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn mb-4 danger"></i>
        <p>La fecha que has ingresado se sobrepone con otra</p>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <button  mdbBtn color="info" class="waves-light" (click)="moda_error_fechas.hide()" mdbWavesEffect>Aceptar</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
