.item-form{
  margin-top: 30px ;
}

.hab-seleced{
  border-color: orange !important;
  background-color: #FFCD97;
}

.locked-card{
  opacity: 0.4;
  background-color: red;
}

.cc-number{
  font-size: 20px;
}

.error-card{
  background-color: red;
  color: white;
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
}
