<div class="container" style="margin-top: 100px; margin-bottom: 100px; height: 100%">
  <div class="row">
    <div class="col-lg-4 ">
      <div class="row">
        <div class="col-12 p-4">
          <mdb-card>
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title>
                <h4>Buscar</h4>
              </mdb-card-title>

              <div class="row" style="margin-top:30px">
                <div  class="col">
                  <div class="col-lg-12 col-md-12 col-sm-12 ">
                    <mdb-select  [formControl]="idhotel" class="align-middle"   [options]="hotel_select" placeholder="Selecciona tu hotel" label="Hotel"></mdb-select>
                  </div>


                  <div class="col-lg-12 col-md-12 col-sm-12 " >
                    <mdb-date-picker [formControl]="checkin" style="z-index: 100000" label="Fecha de llegada" [options]="date_options" placeholder="Selecciona la fecha" ></mdb-date-picker>
                  </div>

                  <div class="col-lg-12 col-md-12 col-sm-12 " >
                    <mdb-date-picker [formControl]="checkout" style="z-index: 100000" label="Fecha de Salida" [options]="date_options" placeholder="Selecciona la fecha" ></mdb-date-picker>
                  </div>

                  <div class="col-lg-12 col-md-12 col-sm-12 ">
                    <mdb-select placement="bottom"  (hidden)="onClosePopHabs()"  [formControl]="num_hab" class="align-middle"  (opened)="openHabsSelect()"  triggers="click" [mdbPopover]="smallClickImgTemp" [options]="habs_aux"></mdb-select>
                  </div>
                  <ng-template  #smallClickImgTemp>
                    <div class="row align-items-center" style="width: 250px">
                      <div class="col-6 text-center">
                        Habitaciones
                      </div>
                      <div class="col-lg-6  mt-4 mb-4 ">
                        <select class="browser-default custom-select" [formControl]="number_habs_selected" (change)="showNumberHabs(number_habs_selected.value)">
                          <option [value]="number.value"  *ngFor="let number of number_people; let i=index">{{number.label}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-2 text-center">
                        N
                      </div>
                      <div class="col-5 text-center">
                        Adultos
                      </div>
                      <div class="col-5 text-center">
                        Niños
                      </div>
                    </div>

                    <form [formGroup]="array_controls_habs.controls[i]" class="row mt-3 align-items-center"  *ngFor="let hab of number_habs; let i=index">
                      <div class="col-2">
                        {{hab+1}}
                      </div>
                      <div  class="col-5">
                        <select formControlName="adultos" class="browser-default custom-select">
                          <option [value]="num.value" *ngFor="let num of number_people">{{num.label}}</option>
                        </select>
                      </div>
                      <div class="col-5">
                        <select formControlName="ninos" class="browser-default custom-select">
                          <option [value]="num.value" *ngFor="let num of number_people">{{num.label}}</option>
                        </select>
                      </div>
                    </form>
                  </ng-template>

                </div>
              </div>

              <div class="row mt-4">
                <div class="col-12">
                  <a block="true" mdbBtn color="orange" (click)="searchReserva()" mdbWavesEffect>Buscar</a>
                </div>
              </div>
            </mdb-card-body>
          </mdb-card>
        </div>

      </div>

      <div class="row mt-1 p-4  white-text">
        <div class="col-12 peach-gradient p-3" style="border-radius: 20px">
          <div class="row">
            <div class="col-12 text-center">
              <h2>Resumen</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <h4>Habitaciones: {{getNumHabitaciones()}}</h4>
            </div>

          </div>

          <div class="row">
            <div class="col-12">
              <h4>Noches: {{getNoches()}}</h4>
            </div>

          </div>
          <div class="row">
            <div class="col-12">
             <h4>Total: ${{getTotal()}}</h4>
            </div>

          </div>
          <div class="row mt-5" *ngIf="getTotal()!=0">
            <div class="col-12">
              <a block="true" mdbBtn color="white" class="orange-text" (click)="resumenReserva()" mdbWavesEffect>Reservar</a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-8" style="height: 800px; overflow-y: auto">
      <div class="row">
        <div class="col text-left">
          <h1>{{search_reservation.info.nombre}}</h1>
          <hr>
        </div>
      </div>
      <div class="row">
        <mdb-carousel class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
          <mdb-carousel-item>
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(88).jpg" alt="First slide">
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(121).jpg" alt="Second slide">
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(31).jpg" alt="Third slide">
          </mdb-carousel-item>
        </mdb-carousel>
      </div>

      <div class="row" style="margin-top: 50px" *ngFor="let hab of search_reservation.opciones; let number_option=index">
        <div class="col" >
          <mdb-card>
            <mdb-card-header>
              <h3>Habitación para {{hab.ocup.adultos}} adultos <span *ngIf="hab.ocup.ninos > 0">y {{hab.ocup.ninos}} niños</span></h3>
            </mdb-card-header>
            <mdb-card-body>
              <div [ngClass]="{'hab-seleced': ifHabitacionIsInArray(op._id,number_option), 'locked-card':IfHabIsSelected(op,number_option)}" *ngFor="let op of hab.ops" style="padding: 30px; margin-bottom: 50px; border-style: solid; border-color: lightslategray; border-radius: 30px">
                <div class="row align-items-center" style="margin-bottom: 20px">
                  <div class="col-1">
                    <mdb-checkbox [checked]="ifHabitacionIsInArray(op._id,number_option)" (change)="changeSelectBox($event,number_option,op)" ></mdb-checkbox>
                  </div>
                  <div class="col-11">
                    <div class="row align-items-center">
                      <div class="col-6">
                        <mdb-carousel [isControls]="true" [animation]="'slide'">
                          <!--First slide-->
                          <mdb-carousel-item>
                            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(88).jpg" alt="First slide">
                          </mdb-carousel-item>
                          <mdb-carousel-item>
                            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(121).jpg" alt="Second slide">
                          </mdb-carousel-item>
                          <mdb-carousel-item>
                            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(31).jpg" alt="Third slide">
                          </mdb-carousel-item>
                          <!--/Third slide-->
                        </mdb-carousel>
                      </div>

                      <div class="col-6">
                        <div class="row">
                          <h2>{{op.cantidad}} <span *ngIf="op.cantidad > 1">habitaciones</span> <span *ngIf="op.cantidad==1">habitación</span></h2>
                        </div>
                        <div class="row">
                          <h5>Camas</h5>
                        </div>
                        <div class="row">
                          <ul>
                            <li *ngFor="let cama of  op.ocupacion.camas">{{cama.nombre}} para {{cama.ocupacion}}
                              <span *ngIf="cama.ocupacion==1">persona</span>
                              <span *ngIf="cama.ocupacion>1">personas</span>
                            </li>
                          </ul>
                        </div>
                        <div class="row">
                          <h2>Precio: ${{op.total}}</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <mdb-accordion  [multiple]="true" >
                      <mdb-accordion-item [collapsed]="false" class="text-white">
                        <mdb-accordion-item-head class="orange"><span class="text-white">Información adicional</span></mdb-accordion-item-head>
                        <mdb-accordion-item-body class="p-3 orange text-white">
                          <div class="row text-white">
                            Descripción: {{op.descripcion}}
                          </div>
                          <div class="row text-white">
                            Niños máximos permitidos: {{op.max_children}}
                          </div>
                          <div class="row text-white">
                            Precio por noche: ${{op.precio}}
                          </div>

                        </mdb-accordion-item-body>
                      </mdb-accordion-item>
                    </mdb-accordion>
                  </div>
                </div>
              </div>

              <div *ngIf="hab.ops.length==0" >
                <div class="row ">
                  <div class="col-12 text-center">
                    <h2>Disculpa, no tenemos disponibilidad por el momento</h2>
                  </div>
                </div>

                <div class="row mt-4">
                  <div class="col-12 text-center orange-text">
                    <mdb-icon far icon="frown" size="5x"></mdb-icon>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">

                </div>
              </div>

              <div class="row">
                <div class="col">
                </div>
              </div>

              <div class="row">
                <div class="col">
                </div>
              </div>

              <!--<mdb-card-footer>-->
                <!--<button (click)="doReservation(opcion)" mdbBtn color="primary">Reservar</button>-->
              <!--</mdb-card-footer>-->
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>

    </div>
  </div>

</div>


<div mdbModal #success="mdbModal" class="modal fade" id="frameModalSecond" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Confirmación</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="row">
          <div class="col text-center">
            <i class="fa fa-check fa-4x animated rotateIn mb-4"></i>
          </div>
        </div>

        <div class="row">
          <div class="col">
            Reservación realizada con éxito, entra a tu panel de usuario para revisar los detalles.
          </div>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <button  mdbBtn color="success" (click)="success.hide();router.navigate(['/home','inicio'])" class="waves-light" mdbWavesEffect>Aceptar</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>


<div mdbModal #resumen_reservacion="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
     (opened)="active_paypal=true" (open)="onOpenReservationConfirm()"
     aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: true, ignoreBackdropClick: true}">
  <div class="modal-dialog  modal-notify modal-lg modal-warning" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Resumen de Reservación
        </p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resumen_reservacion.hide()">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2>Hotel {{search_reservation.info.nombre}}</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <small class="h6">
                Reservación de {{getNumHabitaciones()}} <span *ngIf="getNumHabitaciones()>1">habitaciones </span>  <span *ngIf="getNumHabitaciones()==1"> habitacion </span>por {{getNoches()}} noches.
              </small>
            </div>
          </div>
          <div class="row mt-3 px-5">
            <table mdbTable>
              <tbody>
              <tr mdbTableCol *ngFor="let h of habitaciones_selected">
                <td scope="row">{{h.habitacion.cantidad}}
                  <span *ngIf="h.habitacion.cantidad>1">habitaciones </span>  <span *ngIf="h.habitacion.cantidad==1"></span>
                  para {{h.habitacion.ocupacion_max}} personas
                </td>
                <td>
                  ${{h.habitacion.precio}} p/n
                </td>
                <th scope="col" class="text-right">
                  ${{h.habitacion.total}}
                </th>
              </tr>

              <tr scope="row" >
                <td colspan="2" class="h6">
                  Total
                </td>
                <td class="text-right h6">
                  ${{getTotal()}}
                </td>
              </tr>

              </tbody>
            </table>

          </div>

          <div class="section">
            <div class="row">
              <div class="col">
                <h3>Formas de Pago</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8">
                <hr>
              </div>
            </div>
            <div class="row mt-4" *ngFor="let card of credit_cards; let i=index">
              <div class="col-lg-12">
                <div class="form-check align-items-center">
                  <input type="radio" class="form-check-input" [formControl]="card_token" [id]="card_token + i" [value]="card.id" name="card_token" checked mdbInput>
                  <label class="form-check-label" [for]="card_token + i"><i class="fab fa-2x fa-cc-visa" *ngIf="card.brand == 'visa'"></i><i class="fab fa-2x fa-cc-mastercard" *ngIf="card.brand == 'mastercard'"></i><i class="fab fa-2x fa-cc-amex" *ngIf="card.brand == 'american_express'"></i><i class="fab fa-2x fa-credit-card" *ngIf="card.brand == 'carnet' "></i><span class="cc-number "> XXX XXXX XXXX {{card.card_number.slice(12,16)}}</span></label>
                </div>
              </div>
              <div class="col-lg-3 offset-lg-1">
                <div *ngIf="card_token.value == card.id" class="input-group mt-3 input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Introduce CVC</span>
                  </div>
                  <input type="text" [formControl]="cvc"   class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
              </div>
          </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              Agregar Tarjeta <button mdbBtn type="button" (click)="newCCard.toggle()" color="warning" rounded="true" mdbWavesEffect><i class="fas fa-plus"></i></button>
            </div>
          </div>
          <div  class="mt-3" mdbCollapse #newCCard="bs-collapse">
            <mdb-card>
              <mdb-card-body>
                <div class="row align-items-center" >
                  <div class="col">
                    <form class="px-5" [formGroup]="credit_card_form">
                      <div class="row">
                        <div class="col">
                          <div class="md-form md-outline form-sm">
                            <mdb-icon far icon="credit-card" class="prefix"></mdb-icon>
                            <input formControlName="ccNumber" id="cc-number" type="tel" autocomplete="cc-number" class="form-control form-control-lg" ccNumber mdbInput >
                            <label for="cc-number">Número de Tarjeta</label>
                          </div>
                        </div>
                        <div class="col">
                          <div class="md-form md-outline form-sm">
                            <mdb-icon far icon="calendar-alt" class="prefix"></mdb-icon>
                            <input formControlName="expDate" id="cc-exp-date" type="tel" autocomplete="cc-exp" class="form-control form-control-lg"  mdbInput ccExp>
                            <label for="cc-exp-date">Fecha de Caducidad</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="md-form md-outline form-sm">
                            <mdb-icon fas icon="lock" class="prefix"></mdb-icon>
                            <input formControlName="cvcNumber" id="cc-cvc" type="tel" autocomplete="off" class="form-control form-control-lg"  mdbInput ccCVC>
                            <label for="cc-cvc">Número de Seguridad(CVC)</label>
                          </div>
                        </div>
                        <div class="col">
                          <div class="md-form md-outline form-sm">
                            <mdb-icon far icon="user" class="prefix"></mdb-icon>
                            <input formControlName="ccClientName" id="cc-titular" type="text" autocomplete="cc-number" class="form-control form-control-lg" mdbInput >
                            <label for="cc-titular">Nombre del Titular</label>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="row px-5 mb-4">
                  <div class="col-12">
                    <mdb-checkbox>Acepto los términos y condiciones</mdb-checkbox>
                  </div>
                </div>
                <div class="row px-5 mb-4">
                  <div class="col-lg-4 text-center">
                    <button mdbBtn type="button" block="true" color="warning" (click)="addCard()" rounded="true" mdbWavesEffect>Agregar Tarjeta</button>
                  </div>
                </div>
                <div class="row px-5" *ngIf="!valid_credit_card">
                  <div class="col-lg-12 error-card text-center">
                    Datos incorrectos de tarjeta
                  </div>
                </div>
              </mdb-card-body>

            </mdb-card>
          </div>

          <div class="row px-5 mb-4">
            <div class="col-12">
              <mdb-checkbox #terminos>Acepto los términos y condiciones</mdb-checkbox>
            </div>
          </div>


          <div class="row ">
            <div class="col-lg-6 offset-lg-2 mt-3">
              <button [disabled]="validConfirmReservation()" mdbBtn type="button" block="true" (click)="doReservation()" color="warning" rounded="true" mdbWavesEffect>Confirmar Reservación</button>
            </div>
          </div>


          <div class="row mt-5" *ngIf="!_authService.isAuthenticatedUser()">
            <div class="align-content-center col-4 offset-3">
              <a block="true" mdbBtn color="orange"  (click)="login_modal.login_modal.show()" mdbWavesEffect>Ingresar o registrarte</a>
            </div>
          </div>

          <div class="row" *ngIf="!_authService.isAuthenticatedUser()">
            <div class="col-12 text-center">
              <small>Para poder reservar es necesario que inicies sesión o te registres</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<login #login_modal ></login>
