<div class="container px-5">
  <div class="row">
    <div class="col-12">
      <div class="h1">
        Mis reservaciones
      </div>
    </div>
    <div class="row">
      <div class="container">
        <div class="col-12">
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mdb-accordion [multiple]="false">
        <mdb-accordion-item *ngFor="let reservacion of reservaciones">
          <mdb-accordion-item-head>{{reservacion.habs.length}}
            <span *ngIf="reservacion.habs.length>1">habitaciones</span>
            <span *ngIf="reservacion.habs.length==1">habitacion</span>
            en el hotel {{getHotelName(reservacion.idhotel)}}</mdb-accordion-item-head>
          <mdb-accordion-item-body>
            <div class="row">
              <div class="col-12">
                <h3>Detalles:</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                Checkin: {{_utileriasService.getFormatDate(reservacion.checkin)}}
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                Checkout: {{_utileriasService.getFormatDate(reservacion.checkout)}}
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                Pago: ${{reservacion.total}}
              </div>
            </div>
          </mdb-accordion-item-body>
        </mdb-accordion-item>
      </mdb-accordion>
    </div>
  </div>
</div>
